extends base.pug

block script
    title 
    <meta name="description" content="">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/content-layout.css
        include ../static/css/aboutus.css 
        include ../static/css/homephone.css
block content
    //- section#aboutus
    div#layout-section-1
        div#section-1-content.section-1-class
            h1 About Us
            p Ekwik Digital is the most reliable digital marketing agency in India. Satisfied customers are our assets, and we do to give them productive results. That’s why our team guarantees to offer the best quality digital marketing services. So they can improve their online presence and build a brand.
            P We do not only provide guarantees about the best services but also for growth. Customer satisfaction is the primary job of the team of Ekwik Digital. Because of that, we count as the leading digital marketing agency in Delhi, India. Ekwik has clients from SMEs, entrepreneurs, and large businesses. Because we create a huge difference by offering transparent digital marketing services.Whether the services are social media marketing, SEO, and business analysis.
            P We have the best and dedicated team which gives the best output to our clients.So, if you are looking for the best digital marketing agency in India which has completed 4500+ projects. Then you can look for Ekwik Digital, which also provides web development services.
        div#section-1-image.section-1-class  
    div#layout-section-1
        div#section-2-content.whoweare
            p.par Ekwik Digital Pvt Ltd
            p Ekwik Digital Pvt Ltd is a private limited company registered under MSME. It is one of the leading and best digital marketing companies in Delhi, India. It was founded by founder Mr. Durgesh Kumar on 19 December 2019. This digital marketing company has been running successfully for the last two years. 
            p It has written many success stories for itself and client companies. Ekwik Digital has also launched Ekwik Classes as a digital marketing institute in Delhi. Ekwik Classes has many branches across India, including Ranchi and Patna.
            p.par What does Ekwik Digital Do?
            p Ekwik Digital was launched as a digital marketing company in 2019. Its main aim was to help startup companies to MSME grow online. These companies do not have proper resources and funds. And after the launch of Ekwik Digital, thousands of companies have benefited. Ekwik digital provides an all-in-one digital marketing service at accessible charges. So, most startup to mid-size companies can get and grow online. 
            p.par What does Ekwik Classes Do?
            p Ekwik Classes was formed to provide affordable digital marketing training. So, most of the marketing aspirants can kick start their marketing careers. And they all can become high-paying digital marketers. 
            p Who are the Directors of Ekwik Digital Pvt Ltd?
            p Mr. Durgesh Kumar and Ms. Moni Kumari are both directors of Ekwik Digital. Both have played a crucial role in the growth of Ekwik Digital Pvt Ltd. 
            p.par What is the Qualification of Directors?
            p Mr. Durgesh Kumar has cleared BBA and MBA in Marketing. In contrast, Ms. Moni Kumar has pursued B.Ed and MBA in Marketing. Because of their expert qualification, they were appointed as director of Ekwik Digital. 
            p It is a short brief about Ekwik Digital Pvt Ltd marketing company. So whether you wish to get affordable digital marketing services or training. You can contact Ekwik to get more insights and discounted charges for you. 
    p#meet-team MEET OUR TEAM  
    section#all-team.all-team
        section#directors.team-design
            div#d-section1.team-section
                div#d-social.team-social
                    ul 
                        li.social #[a(href="https://www.linkedin.com/in/digitalmojitos" target="_blank") <i class="fab fa-linkedin"></i> ]           
                div#d-image1.team-image
            div#d-section2.team-content
                h1 Mrs.Moni 
                h3 Founder
                p founder@ekwikdigital.com
                p   
        section#directors.team-design
            div#d-section1.team-section
                div#d-social.team-social
                    ul 
                        li.social #[a(href="https://www.linkedin.com/in/durgesh-kumar-91b384209/" target="_blank") <i class="fab fa-linkedin"></i> ]            
                div#d-image2.team-image
            div#d-section2.team-content
                h1 MR. DURGESH 
                h3 Co-Founder
                p durgesh@ekwikdigital.com
                p 
    section#all-team.all-team
        section#directors.team-design
            div#d-section1.team-section
                div#d-social.team-social
                    ul 
                        li.social #[a(href="https://www.linkedin.com/in/harsh-singh-037491142/" target="_blank") <i class="fab fa-linkedin"></i> ]           
                div#d-image3.team-image
            div#d-section2.team-content
                h1 MR. HARSH  
                h3 Operating Executive
                p harshsingh@ekwikdigital.com
                p Responsible for operations and actions in Ekwik Digital
        section#directors.team-design
            div#d-section1.team-section
                div#d-social.team-social
                    ul 
                        li.social #[a(href="https://www.linkedin.com/in/ashwani-kumar-1121a1209/" target="_blank") <i class="fab fa-linkedin"></i> ]           
                div#d-image4.team-image
            div#d-section2.team-content
                h1 MR. ASHWANI 
                h3 Web Developer
                p ashwani@ekwikdigital.com
                p Full Stack developer who specialize in website design.   
    section#all-team.all-team
        section#directors.team-design
            div#d-section1.team-section
                div#d-social.team-social
                    ul 
                        li.social #[a(href="https://www.linkedin.com/in/deepak-singh-profile/" target="_blank") <i class="fab fa-linkedin"></i> ]             
                div#d-image5.team-image
            div#d-section2.team-content
                h1 MR. DEEPAK 
                h3 Seo Executive
                p deepak@ekwikdigital.com
                p Responsible for improving the quality and quantity of website traffic to a website or a web page from search engines.  
        section#directors.team-design
            div#d-section1.team-section
                div#d-social.team-social
                    ul 
                        li.social #[a(href="https://www.linkedin.com/in/pinki-kumari-98183522b/" target="_blank") <i class="fab fa-linkedin"></i> ]             
                div#d-image6.team-image
            div#d-section2.team-content
                h1 Miss. Pinki Kumari 
                h3 Seo Executive
                p  pinki@ekwikdigital.com
                p Responsible for improving the quality and quantity of website traffic to a website or a web page from search engines.  
    section#all-team.all-team
        //- section#directors.team-design
        //-     div#d-section1.team-section
        //-         div#d-social.team-social
        //-             ul 
        //-                 li.social #[a(href="https://www.linkedin.com/in/anil-kumar-57bb05218" target="_blank") <i class="fab fa-linkedin"></i> ]             
        //-         div#d-image7.team-image
        //-     div#d-section2.team-content
        //-         h1 MR. Anil Kumar
        //-         h3 Seo Executive
        //-         p anilkumar@ekwikdigital.com
        //-         p Responsible for improving the quality and quantity of website traffic to a website or a web page from search engines.  
        section#directors.team-design
            div#d-section1.team-section
                div#d-social.team-social
                    ul 
                        li.social #[a(href="https://www.linkedin.com/in/namrata-mohanty-5619a6221" target="_blank") <i class="fab fa-linkedin"></i> ]             
                div#d-image8.team-image
            div#d-section2.team-content
                h1 Miss. Namrata 
                h3 Counsellor
                p namrata@ekwikdigital.com
    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 We give power to brands with our complete digital marketing solutions.
            p Ekwik Digital is not the only digital marketing agency in India. 
            p But it is an end-to-end digital marketing service provider with zero hassle. 
            p Ekwik is a brand that helps other brands to grow with our expert services. 
            p Thus, if you are struggling to grow online, you need to tell only your expectations. 
            p And rest we will do and conduct effective social media marketing campaigns. 
            p So that you can compete with other giants and secure a stable position. 
            p Thus, feel free to reach us for the basics to advanced digital marketing services.
            p We are not the best because we say we are the best digital marketing agency in India. But we are the best because we provide result-oriented services. So, no matter whether you need conversion, traffic, authority, and engagement. We are here to help you and fix the loopholes which you are facing right now.
  
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Why Ekwik Digital is the best out of the best digital marketing agency?
            p Choosing the right digital marketing agency is a crucial decision for any company. As competition is on the peek and they need to stand out online. 
            p Hence, they need reliable, affordable, and data-driven digital marketing services. And for this, Ekwik Digital is ideal because we focus on quality first over quantity. 
            p You need to get our best digital marketing services available for you. It will surely help you to reach your leads and build a strong brand.
        div#section-3-image.section-2-class

    div#layout-section-3.layout-section--class
        div#section-4-image.section-2-class.section-4-image
        div#section-3-content.section-2-content-class
            h2 What benefits do you get if you take digital marketing services with Ekwik Digital?
            p 	Result oriented SEO services
            p 	You get Data-driven work 
            p 	Affordable and flexible services suitable for SMEs to big giants.
            p 	Transparency is key to our work
            p 	Worked with over 4500 clients on records
            p 	And you will become our never-ending satisfied and successful customer.

