extends base.pug

block script 
    title App Store Packages | App Store Optimization Marketing Packages India
    <meta name="description" content="Ekwik digital offer app store optimization packages for new apps on android, windows, and iOS platforms. Buy our Affordable ASO Packages to optimize your App.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/app-store-pack.css
        include ../static/css/homephone.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Apps store Packages
            p Does your business also have a business app? Having a business app is a great thing to bring customers to a place.
            p It helps both businesses and ideal customers to get desired things seamlessly. 
            p But many enterprises still do not have attained a significant number of mobile app users. As mobile apps also need to be optimized according to the app store. 
            p In simple terms, app store optimization marketing is similar to SEO. By using app store optimization,
            p your business app can get more visibility. If it does so then, it will get more downloads and more potential customers.
            p Hence, for every app store marketing, it is crucial to get app store packages.

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why do you need Ekwik’s app store packages?
            p App store optimization requires on-app and off-app optimization. 
            p This task is as crucial as search engine optimization.
            p Thus, we designed our full-pack app store packages for you. 
            p It includes several marketing techniques that you can miss in other packages.
            p If you take this service, then you will see improved brand exposure.
            p Along with this, you will also get high downloads, reviews, and ratings on your app.
            p We aim to improve the audience engagement rate for higher ROI.

   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 App Store Packages 
            p So, do not miss this great chance and book your app store packages now. 
            p Although, you can also hire an expert for this purpose. 
            p But still, handing over this critical task to an experienced marketing company can be a wise choice.
            p Because we have all the essential resources and a well-versed team of marketers.
            p They use most of the white-hat app store optimization marketing. 
            p So your brand’s app can execute its task and bring your customer.

        div#section-3-image.section-2-class