extends base.pug

block script 
    title Asp.Net Application Development Company
    <meta name="description" content="We offer customize ASP. NET development services. We are leading company in ASP.Net which provides customized Application development services to the clients.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/asp-dot-net.css
        include ../static/css/homephone.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 ASP DOT NET
            p Are you searching for a dot NET development company? 
            P So, you can build a business application for your business. 
            P ASP DOT NET is one of the best technology stacks for SMEs and large organizations. 
            p As it is robust, technology provides the best application development solutions. 
            P And being an ASP.NET application development company, we offer the same.We provide highly optimized, managed, latest, and expert ASP development.
            p With our ASP dot NET development services, you will not have to worry about security. Also, we have helped many businesses to attain their goals.

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why choose Ekwik Digital for ASP.NET development? 
            p We are an experienced ASP dot NET application development company.
            p And our expert team has expert dot NET developers. They know to use the latest technology and their skills in the best manner. 
            p Hence you do not compromise with the solutions you provided with us. 
            p Also, we provide the most affordable development services. Thus,  you do not require to hire costly developers. As you can get the best outcome from our experts under the same budget.
            p Our dot NET development company respects your privacy. And also the intellectual property you own. Hence we provide ultimate level security to your documents. So, none of the unauthorized users access your documents. 
            p So, at Ekwik Digital, you also get data protection along with other benefits. And we are sure you will not find these benefits elsewhere. Thus, contact us and get Ekwik’s best ASP.NET application development services.
 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Who should get Ekwik’s ASP dot NET development services?
            p Nowadays, most SMEs need ASP.NET solutions.
            p Especially if you need desktop or web development services. 
            p Also, this technology stack can be utilized in building web portals.
            p Because it provides secure platforms primarily for the banking sectors. 
            p Also, if you need any development services using ASP.NET. 
            p Then you are ideal clients for Ekwik Digital. 
        div#section-3-image.section-2-class