doctype html 
html 
    head
        //- for google site verification 
        <meta name="google-site-verification" content="Ft775T8QAmDGrATKMGF9Cokad-MJGRQXqb6SE2ekPeE" />  
        //- fav icon of ekwik digital
        <link rel="shortcut icon" type="image/png" href="../static/image/fav.png">
        block script
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2D6D3KZBM"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-P2D6D3KZBM');</script>
    block style 
    body
    //- Desktop contect section starts  
    nav#contact-nav 
        ul 
            li
                span.contact-nav-color <i class="fas fa-blender-phone"></i> OFFICE 
                | #[a(href="tel:011-42175423") 011-42175423]
            li
                span.contact-nav-color <i class="fas fa-mobile-alt"></i> INDIA 
                | #[a(href="tel:+91 9717666076") +91 9717666076]   
            li
                span.contact-nav-color <i class="fas fa-mobile-alt"></i> USA 
                | #[a(href="tel:+1 501-380-0652") +1 501-380-0652]    
            li
                span.contact-nav-color <i class="fas fa-envelope"></i> Email 
                | hello@ekwikdigital.com
        //- Desktop navigation section ends  
        //- Icons for social media in desktop
    div#social.social
        | #[a(href="https://fb.com/ekwikdigital" target="_blank") <i class="fab fa-facebook-square"></i> ] 
        | #[a(href="https://web.whatsapp.com/send?phone=9717666076" target="_blank") <i class="fab fa-whatsapp-square"></i> ]
        | #[a(href="https://youtube.com/ekwikdigital" target="_blank") <i class="fab fa-youtube"></i> ]
        | #[a(href="https://www.linkedin.com/company/ekwik-digital-private-limited" target="_blank") <i class="fab fa-linkedin"></i> ]           
        | #[a(href="https://instagram.com/ekwikdigital" target="_blank") <i class="fab fa-instagram-square"></i> ]           
        //- Icons for social media in mobile
    div#mobile_icon
        | #[a(href="https://fb.com/ekwikdigital" target="_blank") <i class="fab fa-facebook-square"></i> ] 
        | #[a(href="https://web.whatsapp.com/send?phone=9717666076" target="_blank") <i class="fab fa-whatsapp-square"></i> ]
        | #[a(href="https://youtube.com/ekwikdigital" target="_blank") <i class="fab fa-youtube"></i> ]
        | #[a(href="https://www.linkedin.com/in/durgesh-kumar-91b384209/" target="_blank") <i class="fab fa-linkedin"></i> ]           
        | #[a(href="https://instagram.com/ekwikdigital" target="_blank") <i class="fab fa-instagram-square"></i> ]
        //- Navigation menu for our work section 
    div#portfolio-list.service-menu-sub-menu
        ul
            li #[a(href="/portfolio") Portfolio]
            li #[a(href="/case-study") Case Studies]
            li #[a(href="/seo-results") Seo Results]
            li #[a(href="/testimonials") Testimonials] 
        //- Phone menu top area starts
    section#phonenav 
        div.logo1
            <a href="/" > <img class="logo1" , src="../static/image/logo.png", alt="Ekwik Digital", srcset=""> </a>    
        button#hamburger 
            div#bar1.bar
            div#bar2.bar 
            div#bar3.bar 
    section#menu-section 
        div#image.inside-menu-section 
            <a href="/" > <img class="inside-menu-section" , src="../static/image/logo.png", alt="Ekwik Digital", srcset=""> </a>    
        //- Phone menu top area ends
        //- Desktop navigaiton area starts
        div#main-menu.inside-menu-section 
            ul 
                li #[a(href="/") Home]
                li #[a(href="/aboutus") About Us]
                li #[a(href="/contact") Contact] 
                li#our-work #[a(href="#") Our Work]
                button#free-website-audit
                    b #[a(href="tel:+919717666076") Free Website Audit]
    div#service-menu
        div#Search-engine-optimization.service-menu-class
            h3 
                |  Search Engine Optimization <i class="fab fa-ethereum"></i> 
            div#Search-engine-optimization-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/seo-service") SEO Service]
                    li #[a(href="/local-seo") local SEO]
                    li #[a(href="/E-commerce") E-Commerce SEO]
                    li #[a(href="/mobile-seo") Mobile SEO Services]
                    
        div#Packages.service-menu-class
            h3 
                |  Packages <i class="fab fa-ethereum"></i>
            div#Packages-main-Sub-menu.service-menu-sub-menu
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/SEO-Packages") SEO Packages]
                        li #[a(href="/smo-packages") SMO Packages]
                        li #[a(href="/local-seo-packages") Local SEO Packages]
                        li #[a(href="/mobile-seo-packages") Mobile SEO Packages]
                        li #[a(href="/orm-packages") ORM Packages]
                        li #[a(href="/cro-packages") CRO Packages]
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/ppc-packages") PPC Packages]
                        li #[a(href="/design-development-packages") Design/ Development Packages]
                        li #[a(href="/content-writing-packages") Content Writing Packages]
                        li #[a(href="/app-store-Packaging") App Store Packages]
                        li #[a(href="/link-buliding-packages") Link Buliding Packages]
                        li #[a(href="/content-marketing-packages") Content Marketing Packages]
                div.Packages-Sub-menu
                    ul
                        li #[a(href="/small-business-seo-packages") Small Business SEO Packages]
                        li #[a(href="/digital-marketing-packages") Digital Marketing Packages]
                        li #[a(href="/video-marketing-packages") Video Marketing Packages]
                        li #[a(href="/seo-pricing") SEO Pricing]
                        li #[a(href="/guest-posting-service") Guest Posting Service]
        div#Reseller.service-menu-class
            h3 
                |  Reseller <i class="fab fa-ethereum"></i>
            div#Reseller-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/seo-reseller") SEO Reseller]
                    li #[a(href="/white-labelled-seo") White labelled SEO]
                    li #[a(href="/seo-reseller-packages-plan") SEO Reseller Packages Plan]
                    li #[a(href="/outsource-seo-india") Outsource SEO India]
                    
        div#Reputation-Management.service-menu-class
            h3 
                |  Reputation <i class="fab fa-ethereum"></i>
            div#Reputation-Management-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/corporate-reputation-managment") Corporate Reputation Management]
        div#Development-Solutions.service-menu-class
            h3 
                |  Development Solution <i class="fab fa-ethereum"></i>
            div#Development-main-Solutions.service-menu-sub-menu
                div.Development-Solutions-Sub-menu
                    ul
                        li #[a(href="/website-designing") Website Designing]
                        li #[a(href="/web-development") Web Development]
                        li #[a(href="/wordpress-development") WordPress Development]
                        li #[a(href="/responsive-design") Responsive Design]
                        li #[a(href="/cms-development") Cms Development]
                        li #[a(href="/custom-php-development") Custom PHP Development]
                        li #[a(href="/android-app-development") Android APP Development]
                div.Development-Solutions-Sub-menu
                    ul
                        li #[a(href="/logo-designing") Logo Designing]
                        li #[a(href="/e-commerce-development") E-Commerce Development]
                        li #[a(href="/website-redesigning") Website Redesigning]
                        li #[a(href="/mobile-app-development") Mobile APP Development]
                        li #[a(href="/magento-development") Magento Development]
                        li #[a(href="/asp-dot-net") ASP Dot Net]
        div#Social-Media.service-menu-class
            h3 
                |  Social Media <i class="fab fa-ethereum"></i>
            div#Social-Media-Sub-menu.service-menu-sub-menu
                ul
                    li #[a(href="/social-media-marketing") Social Media Marketing]
                    li #[a(href="/youtube-marketing") Youtube Marketing]
        div#Others.service-menu-class
            h3 
                |  Others <i class="fab fa-ethereum"></i>
            div#Others-main.service-menu-sub-menu
                div.Others-Sub-menu
                    ul
                        li #[a(href="/ppc-service") PPC Service]
                        li #[a(href="/conversion-optimization") Conversion Optimization]
                        li #[a(href="/app-store-optimization") APP Store Optimization]
                        li #[a(href="/link-buliding-services") Link Buliding Services]
                        
                div.Others-Sub-menu
                    ul
                        li #[a(href="/seo-marketing-agency") SEO Marketing Agency]
                        li #[a(href="/mobile-website-design") Mobile Website Design]
                        li #[a(href="/online-marketing-company") Online Marketing Company]
                        li #[a(href="/search-engine-marketing-service") Search Engine Marketing Service]
                //- Desktop navigation area ends 
    //- Floating contact button
    button#btn-contact 
        b #[a(href="/contact") CONTACT US]  
    //- In Bottom Sticky Contact section   
    section#sticky-call-section2.sticky-call-section.phone
        ul 
            li
                span.contact-nav-color <i class="fas fa-mobile-alt"></i> INDIA 
                | #[a(href="tel:+91 9717666076") +91 9717666076]   
            li
                span.contact-nav-color <i class="fas fa-mobile-alt"></i> USA 
                | #[a(href="tel:+1 501-380-0652") +1 501-380-0652]    
            li
                span.contact-nav-color <i class="fas fa-envelope"></i> Email 
                | hello@ekwikdigital.com                
            li #[a(href="tel:+919717666076") Free Website Audit]        
        //- Page banner images    
    div#digital-marketing-image
    //- Phone menu section 
    section#phone-menu.is-active.is-hide
        ul 
            li #[a(href="/") Home]
            li #[a(href="/aboutus") About Us]
            li #[a(href="/contact") Contact]    
            li #[a(href="tel:+919717666076") Free Website Audit]
        div#divider
            button#btn-service 
               b Services <i class="fas fa-caret-down"></i> 
            div#phone-seo.phone-service-class
                h2#seooo  Search Engine Optimization  <i class="fas fa-caret-down"></i>       
                div#phone-seo-service.phone--service        
                    ul 
                        li #[a(href="/seo-service") SEO Service]
                        li #[a(href="/local-seo") local SEO]
                        li #[a(href="/E-commerce") E-Commerce SEO]
                        li #[a(href="/mobile-seo") Mobile SEO Services]
                        
            div#phone-seo.phone-service-class
                h2#packages  Packages  <i class="fas fa-caret-down"></i>      
                div#phone-packages-service.phone--service        
                    ul 
                        li #[a(href="/SEO-Packages") SEO Packages]
                        li #[a(href="/smo-packages") SMO Packages]
                        li #[a(href="/local-seo-packages") Local SEO Packages]
                        li #[a(href="/mobile-seo-packages") Mobile SEO Packages]
                        li #[a(href="/orm-packages") ORM Packages]
                        li #[a(href="/cro-packages") CRO Packages]
                        li #[a(href="/ppc-packages") PPC Packages]
                        li #[a(href="/design-development-packages") Design/ Development Packages]
                        li #[a(href="/content-writing-packages") Content Writing Packages]
                        li #[a(href="/app-store-Packaging") App Store Packages]
                        li #[a(href="/link-buliding-packages") Link Buliding Packages]
                        li #[a(href="/content-marketing-packages") Content Marketing Packages]
                        li #[a(href="/small-business-seo-packages") Small Business SEO Packages]
                        li #[a(href="/digital-marketing-packages") Digital Marketing Packages]
                        li #[a(href="/video-marketing-packages") Video Marketing Packages]
                        li #[a(href="/seo-pricing") SEO Pricing]
                        li #[a(href="/guest-posting-service") Guest Posting Service]
            div#phone-seo.phone-service-class
                h2#reseller  Reseller  <i class="fas fa-caret-down"></i>      
                div#phone-reseller-service.phone--service        
                    ul 
                        li #[a(href="/seo-reseller") SEO Reseller]
                        li #[a(href="/white-labelled-seo") White labelled SEO]
                        li #[a(href="/seo-reseller-packages-plan") SEO Reseller Packages Plan]
                        li #[a(href="/outsource-seo-india") Outsource SEO India]
            div#phone-seo.phone-service-class
                h2#Reputation  Reputation  <i class="fas fa-caret-down"></i>      
                div#phone-Reputation-service.phone--service        
                    ul 
                        li #[a(href="/corporate-reputation-managment") Corporate Reputation Management]
            div#phone-seo.phone-service-class
                h2#Development-Solution  Development Solution  <i class="fas fa-caret-down"></i>      
                div#phone-Development-Solution-service.phone--service        
                    ul 
                        li #[a(href="/website-designing") Website Designing]
                        li #[a(href="/web-development") Web Development]
                        li #[a(href="/wordpress-development") WordPress Development]
                        li #[a(href="/responsive-design") Responsive Design]
                        li #[a(href="/cms-development") Cms Development]
                        li #[a(href="/custom-php-development") Custom PHP Development]
                        li #[a(href="/android-app-development") Android APP Development]
                        li #[a(href="/logo-designing") Logo Designing]
                        li #[a(href="/e-commerce-development") E-Commerce Development]
                        li #[a(href="/website-redesigning") Website Redesigning]
                        li #[a(href="/mobile-app-development") Mobile APP Development]
                        li #[a(href="/magento-development") Magento Development]
                        li #[a(href="/asp-dot-net") ASP Dot Net]
            div#phone-seo.phone-service-class
                h2#social-Media  Social Media  <i class="fas fa-caret-down"></i>      
                div#phone-social-Media-service.phone--service        
                    ul 
                        li #[a(href="/social-media-marketing") Social Media Marketing]
                        li #[a(href="/youtube-marketing") Youtube Marketing]  
            div#phone-seo.phone-service-class
                h2#others  Others  <i class="fas fa-caret-down"></i>      
                div#phone-others-service.phone--service        
                    ul 
                        li #[a(href="/ppc-service") PPC Service]
                        li #[a(href="/conversion-optimization") Conversion Optimization]
                        li #[a(href="/app-store-optimization") APP Store Optimization]
                        li #[a(href="/link-buliding-services") Link Buliding Services]
                        li #[a(href="/seo-marketing-agency") SEO Marketing Agency]
                        li #[a(href="/mobile-website-design") Mobile Website Design]
                        li #[a(href="/online-marketing-company") Online Marketing Company]
                        li #[a(href="/search-engine-marketing-service") Search Engine Marketing Service]
         
    block content  
    div#footer-menu 
        div#footer-ekwik.footer-menu-class
            div#eklogo
            h2 Ekwik Digital
            p  So, are you ready to get web development, marketing, and SEO services in India? Check out our affordable packages for the best digital marketing services. You need our services as you deserve more leads than your competitor.    
            p #[a(href="https://fb.com/ekwikdigital" target="_blank") <i class="fab fa-facebook-square"></i>] #[a(href="https://web.whatsapp.com/send?phone=7295030609" target="_blank") <i class="fab fa-whatsapp-square"></i>] #[a(href="https://youtube.com/ekwikdigital" target="_blank") <i class="fab fa-youtube-square"></i>] #[a(href="https://www.linkedin.com/company/ekwik-digital-private-limited" target="_blank")  <i class="fab fa-linkedin"></i>] #[a(href="https://instagram.com/ekwikdigital" target="_blank") <i class="fab fa-instagram-square"></i> ] 
        div#footer-service.footer-menu-class
            h2 Our Service
            ul 
                li #[a(href="/") Search Engine Optimization]
                li #[a(href="/#circle3") Packages]
                li #[a(href="/") Reseller]
                li #[a(href="/") Reputation]
                li #[a(href="/") Development Solution]
                li #[a(href="/") Social Media]
                li #[a(href="/") Others] 
                li #[a(href="https://fb.com/ekwikdigital" target="_blank") <i class="fab fa-facebook-square"></i>] #[a(href="https://web.whatsapp.com/send?phone=7295030609" target="_blank") <i class="fab fa-whatsapp-square"></i>] #[a(href="https://youtube.com/ekwikdigital" target="_blank") <i class="fab fa-youtube-square"></i>] #[a(href="https://www.linkedin.com/company/ekwik-digital-private-limited" target="_blank")  <i class="fab fa-linkedin"></i>] #[a(href="https://instagram.com/ekwikdigital" target="_blank") <i class="fab fa-instagram-square"></i> ] 

        div#footer-navbar.footer-menu-class
            h2 Navigation
            ul 
                li #[a(href="/") Home]
                li #[a(href="/aboutus") About Us]
                li #[a(href="/ourwork") Our Work] 
                li #[a(href="/contact") Contact] 
                li #[a(href="/terms&condition") Terms & Conditions]
        div#footer-address.footer-menu-class
            div#sub-footer-contact.sub-footer-class
                h2 Contact 
                p <i class="fas fa-blender-phone"></i> Office <br> #[a(href="tel:011-42175423") 011-42175423]   
                p <i class="fas fa-mobile-alt"></i> Mobile <br> #[a(href="tel:+91 9717666076") +91 9717666076]  
                p <i class="fas fa-envelope"></i> Email <br> hello@ekwikdigital.com   
            div#sub2-footer-address.sub-footer-class
                h2 Address 
                p #[a(href="https://g.page/EkwikDigital?share" target="_blank") A-20, First Floor, Guru Nanak Pura, Street. 3, Laxmi Nagar, Delhi – 110092, Landmark – In Front Of V3s Mall ]
    Section.copyright
        div#width.copyright
            div#poweredby
                p Powered by <i class="fab fa-ethereum"></i> 
                p Ekwik Digital
                
            div#copy
                p Copyright ©  2021  || Ekwik digital All rights reserved.
            div#developer
                p Design By <i class="fab fa-ethereum"></i> 
                span Ekwik Digital   
    section#sticky-call-section.sticky-call-section.desktop
        ul 
            li
                span.contact-nav-color <i class="fas fa-mobile-alt"></i> INDIA 
                | #[a(href="tel:+91 9717666076") +91 9717666076]   
            li
                span.contact-nav-color <i class="fas fa-mobile-alt"></i> USA 
                | #[a(href="tel:+1 501-380-0652") +1 501-380-0652]    
            li
                span.contact-nav-color <i class="fas fa-envelope"></i> Email 
                | hello@ekwikdigital.com                
            li #[a(href="tel:+919717666076") Free Website Audit]               
