extends base.pug

block script 
    title Content Marketing Packages | Content Marketing Pricing Packages
    <meta name="description" content="We offer professional Content Marketing Packages for those who lack consistency in their content. Bring quality content at very affordable price.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/content-marketing-pack.css
        include ../static/css/homephone.css
block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Content Marketing 
            p Want to rank your business website in search results? Do you also want to reach new potential customers? Willing to maximize your revenue through online leads? Content marketing is a must for  every digital marketing.
            p Content marketing is a proven online marketing technique. It includes creating valuable blogs and articles to publish on high DA sites. Moreover, it includes a variety of other content marketing methods. 
            p What are content marketing services?
            p Content marketing services are essential services for a brand’s website. It is a widely utilized marketing model for ranking the business website. In this, marketers create high-quality SEO-friendly articles to relevant press releases. So, the marketing write ups we can use to promote the brand and drive traffic.
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why use content marketing and grab content marketing packages?
            p By utilizing fresh and engaging content, you can target an audience. 
            p This method will ensure visitors know about the products you sell. 
            p If you target the right audience with the right content, then your brand will get immense traffic. 
            p And immense traffic will bring big leads; hence, you must use content marketing.
            p But you also know hiring an expert content marketer will cost a lot. 
            p It will also ask you to invest in essential tools and resources from your pocket. 
            p But still, there will not be any assurance to get optimal results.
            p If you want satisfactory results using this SEO method. Then you should check content marketing pricing packages.
            p If you check content marketing packages pricing, it will be affordable. 
            p It is not only affordable but also loaded with quality content marketing techniques. 

    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Get your best content marketing packages.  
            p Thus you can contact our content marketing team for more details. 
            p Our team will offer you highly compatible content marketing services packages. 
            p So, do you have any queries for content marketing? 
            p Do you want to boost your search traffic multiple times? 
            p Let us know, as we aim to provide the best content marketing service.
 
        div#section-3-image.section-2-class