extends base.pug

block script
    title 
    <meta name="description" content="">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/contact.css
        include ../static/css/homephone.css
block content 
    div#Contact-image
    section#section-contact
        div#contact-info.sub-section-contact
            h1 Ekwik Digital
            p So, are you ready to get web development, marketing, and SEO services in India?
            h1 Contact us 
            p  <i class="fas fa-blender-phone"></i> Office no  
            p 011-42175423 
            p <i class="fas fa-mobile-alt"></i> Mobile no  
            p +91 9717666076 
            p  <i class="fas fa-envelope"></i> Email  
            p hello@ekwikdigital.com  
            h1 Address 
            p A-20, First Floor, Guru Nanak Pura, Street No. 3, Laxmi Nagar, Delhi – 110092, Landmark – In Front Of V3s Mall  
        form#contact-form.sub-section-contact(action="/form-details.php", method="get" , name="contactForm")
            h1 Let's talk
            p New Projects, Marketing Strategy, New website, or even a coffee.
            | NAME 
            input(type="text" name="username" id="input-name")
            | EMAIL  
            input(type="text" name="useremail" id="input-email")
            | CONTACT NUMBER  
            input(type="number" name="usercontact" id="input-contact")  
            | COMPANY NAME  
            input(type="text" name="usercompanyname" id="input-Company-name") 
            p SHORT MESSAGE 
            textarea#form-text-area(name="text-area", cols="30", rows="5")  
            button#form-btn(type="Submit" Placeholder="Send Details" ) 
                p  Send Details

    Section#googlemap 
        <iframe id="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4139.671128948162!2d77.28249300892676!3d28.636323180071926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3b6a48a38d9%3A0x9f0dae49642f744a!2sEkwik%20Digital!5e0!3m2!1sen!2sin!4v1634535783091!5m2!1sen!2sin" width="10px" height="500px"  style="border-radius:20px;" allowfullscreen="" loading="lazy"></iframe>
        