extends base.pug

block script 
    title Content Writing Pricing Packages India
    <meta name="description" content="Ekwik Digital offers best Content writing pricing packages in india for your web page, Article, blog at the most affordable prices.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/content-writing-pack.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Content Writing  
            p Content marketing is one of the essential online marketing activities. Whether content is on the website or social media, it increases engagement with the brand. Customers are more likely to trust you if you post blogs and articles. Thus, have you opted for content marketing packages?
            p If you have not yet found the best content marketing packages. Then you should look for our content marketing services.
            p Because our packages are not only of the best quality but also affordable. We aim to help small startups to large organizations with our experts. You can see multiple contents writing pricing packages on the dashboard. Just check them out or contact us directly for custom services.
            p From social media copywriting to long-form articles, all services are available. 

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why content writing packages of Ekwik Digital? 
            p If you are a business person and look for quality content. 
            p Then you might know content writing services are not affordable.
            p You pay a decent amount to get your fresh and latest copy. 
            p That you publish on your site for content marketing and getting organic traffic.
            p But if you get our content writing packages in India for your website. 
            p You will find it very accessible and observe the high quality of the well-researched copy.
            p Our experts do keyword research and write the best articles, blogs, and other forms of content
            p Because our packages are not only of the best quality but also affordable.
            p We aim to help small startups to large organizations with our experts. 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Ekwik’s content writing pricing 
            p Ekwik has a highly experienced team of digital marketers. 
            p They know what type of content can be an excellent match for your brand. 
            p And according to research, they plan and prepare your content.
            p By utilizing these fresh pieces, you can see the changes in the form of traffic. 
            p As our content writing pricing is very genuine and also comes with several cross-check.
            p Thus, if you want to make your SEO efforts more powerful and effective. Then, do book your free call with the content writing expert of Ekwik. 
        div#section-3-image.section-2-class