extends base.pug

block script 
    title CRO Packages |Corporate Repoutaion Online Packages
    <meta name="description" content="Conversion Rate Optimization Packages Increase your website visitors, traffic and conversion rate. Go with Ekwik digital to optimize Your CRO for best results.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/cro-pack.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 CRO Packages 
            p Now anything can be published on the internet, even the nasty comments. 
            p So, how can you deal with such comments? Most enterprises and corporations face this critical issue online. 
            p From google reviews to forum posting, they meet with untrue allegations.
            p But now, you do not need to carry these reviews anymore. 
            p Because we have come up with the most affordable CRO packages.
            p These CRO packages are here to make you viral. And get much more positive reviews for your products.
            p But for this, you need to choose our CRO packages. 
 
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Get corporate reputation online packages to improve corporate image.
            p If you are caused by a negative review on GMB or else.
            p Then you need to get our corporate reputation online packages. 
            p We have various packages depending on your budget.
            p And by choosing any of the ideal CRO packages of Ekwik. 
            p You can solve the below-mentioned issues quickly.
            p A negative review that most commonly businesses get
            p Any defect in the product and causing significant loss
            p There is untrue published article, blog or other content
            p Or any harmful content is damaging your corporate business profile. 
 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Get what you need in CRO Packages.
            p CRO is the most critical factor for any brand online. It can decrease the customer base and even sales. So, to monitor and manage this, you need a dedicated CRO expert. Hence, when you assign this task to us, then our CRO expert will handle your project.
            p They use all the white hat CRO techniques to fix the issue.
            p Also, we have a range of strategies to drive the best results.
            p Thus, do not hesitate to choose our CRO packages.
            p As is our corporate reputation online packages are very effective. We have helped many businesses, and now you can be the next. So, contact our team and get proper guidance on the same.

        div#section-3-image.section-2-class