extends base.pug

block script 
    title Custom PHP Development Services/Company
    <meta name="description" content="Ekwik Digital is a leading provider of custom PHP development services. We develop dynamic and powerful solutions based on your custom needs.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/custome-php.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 CustomPHP Development 
            p Do you know PHP is used in 79% of the world's websites? Most of the websites are built using PHP, including Facebook. 
            p This language is an open-source technology stack. And there are tons of helpful resources available. Hence, even a small enterprise can develop a website for them.
            p Ekwik Digital offers custom PHP development services with cutting-edge resources. 
            p So, businesses can leverage their website with the total capacity of PHP. We provide robust solutions for custom PHP development. 
            p Thus, if you also need robust and scalable solutions. Call the reliable custom PHP web development company, i.e., Ekwik Digital.  

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why do you need Ekwik's custom PHP development services?  
            p We provide custom PHP development services worldwide. 
            p Also, there are several benefits of using PHP as a technology stack in the website.  
            p Best technology stack for robust web solution 
            p Most of the modern browsers support the PHP programming language. 
            p Hence, if the website is built with this tech stack, then it will load easily. 
            p There will not be an issue of inconsistent performance.  
            p Great for building a website at a fast pace 
            p The web development process can be super time-consuming. But developers can build websites at a fast pace using PHP. Because there are several reusable codes available. And using these high-quality and optimized codes, the website can be built in less time.
            p Hence, if you want robust, future proof and reliable websites. Then get Ekwik Digital's custom PHP development services.  
 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Cutting edge custom PHP web development company 
            p Ekwik Digital is a renowned PHP web development company. 
            p And we have worked on several small to large projects.
            p  Hence, if you want an agile, transparent, and experienced development team. 
            p Get a free quote from our custom PHP development company. 
            p We ensure complete customer satisfaction and the best web solutions. 
            p So, our clients can target customers using online platforms.

        div#section-3-image.section-2-class