extends base.pug

block script 
    title Design Development Packages | Website design 
    <meta name="description" content="Ekwik Digital offers Design development Packages available to Fit Your Budget. Our professional  are at your service to serve you well.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/design-development-pack.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Design and Development
            p It's time to scale your business and set up a business website. Don't you think you need web development packages? Most businesses need to have their virtual presence. So the customers can directly reach the brand without moving anywhere. But setting up a website is not the only thing you need. Because having responsive and excellent UI is also a game-changer element.
            p Website design and development both are two different tasks. But when these two integrate, then customers get a seamless experience. Thus, brands enjoy more leads and satisfactory customer experience.
            p But generally, website development packages are expensive. Most startup companies can not bear the enormous investment. So, to help brands like you, we have launched website development packages. These packages are very affordable and value for money deals.

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Benefits of getting Ekwik's website development packages 
            p On the internet, there are over 600 million web pages currently. 
            p If you want to stand out from the crowd for customer attention. 
            p Then you need a fast, responsive, and SEO-rich website. And the web development team of Ekwik digital is full of experts.
            p They build and design your website in such a way that it looks appealing. 
            p Not on this, but your site also loads up to 5x faster than other websites.
            p Our website development package prices are customizable for every brand. Hence, the startups having less budget can also attain our services. Moreover, large enterprises can connect our team to get a robust platform. So they can handle massive traffic to their site and customer base. 
            p Whether you need a static or e-commerce website for your brand. All the packages are available at the best budget range. 

   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Best buy web design and website development packages 
            p Ekwik digital is a renowned name in the field of IT services. 
            p Here, you get static to dynamic website development at affordable rates. 
            p We have worked on hundreds of web development design projects.
            p So, get in touch with a highly experienced team now. 
            p It's a limited-time offering for our best design development packages.

        div#section-3-image.section-2-class