extends base.pug

block script 
    title Digital Marketing Pricing Packages In India
    <meta name="description" content="Digital marketing pricing packages in India : We offer complete package which includes complete online business from reputation to traffic from PPC to SMO.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/digital-marketing-pack.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Digital Marketing 
            p Are you looking for the most profound digital marketing services? 
            p Ekwik Digital is a full-fledged digital marketing company with an attractive track record. 
            p We are the first choice of small to big enterprises for all digital marketing needs.
            p Thus, if you also want to increase web presence, sales, traffic, and authority. 
            p Then get our digital marketing pricing packages in India.
            p These packages are affordable, and most businesses can get them. 
            p We have the perfect team of content marketers, experts of PPC, SMO, SEO, and web developers. Hence, if you contact Ekwik, then all these professionals will do the best work for you. 

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why must you get Ekwik's digital marketing packages in India? 
            p Digital spaces are more competitive than ever, and every brand wants to be successful.
            p Hence the digital market is crowded, and it has enabled lots of options for customers.
            p But if you are genuine with your services, then you can beat competitors. 
            p You must market your products and services using the right strategies. 
            p These strategies can be content marketing, SEO, PPC, and email campaigns. 
            p If you decide to hire employees for each of the skills, it will take lakhs of rupees.
            p Hence, make a wise decision by opting for Ekwik's digital marketing services packages.
            p Because experts will execute all your internet marketing activities. 
            p Thus, you will have more ROI because of this small investment. 
 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Find the best digital marketing packages and pricing. 
            p We do not charge hourly because it's a dynamic activity.
            p And online marketing requires many tasks that can not be measured. 
            p Hence, our team decided to come up with the best digital marketing packages and pricing. 
            p That can beat the hourly wages and also help businesses by offering results.
            p So, decide your budget and confirm your desired digital marketing subscription.

        div#section-3-image.section-2-class