extends base.pug

block script 
    title Ecommerce Seo Company/Agency/Services
    <meta name="description" content="Ekwik digital is an ecommerce SEO company, which provides you expertise to work for your business and grow it to the maximum level.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/E-commerce.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 E Commerce SEO
            p Now the eCommerce SEO services have become accessible and crucial. 
            p And it is a great way to help your website to rank on the top of SERP. 
            p Because when you achieve top position in search results on a keyword. 
            p Then most people can discover your site and connect with your brand. 
            p So, if you also want to boost the earnings of your site. In that case,
            p Ekwik Digital can help you as we are the best eCommerce SEO agency. 
            p You can take eCommerce SEO services by choosing our SEO packages. 
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why get Ekwik’s eCommerce SEO services? 
            p We proudly say we have worked on hundreds of eCommerce SEO projects. 
            p And our expert team knows how to help these businesses using SEO.
            p They know how to deal with the pain points of these websites. 
            p Thus, if your brand is also not getting quality leads. 
            p Then you must take our eCommerce SEO packages to grow your site.
            p Below are some key features of eCommerce SEO service. 
            p We have a highly qualified team of SEO experts.
            p Every project at Ekwik goes through a detailed check.
            p Weekly and monthly reporting are available with us.
            p We do not only claim but also show the proven result. 

   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Get your estimate for your Ecommerce website. 
            p Ekwik knows not all businesses can access costly packages. 
            p Hence, our team has developed the best eCommerce SEO packages considering every business. 
            p You just need to book a free call and get the most affordable estimate.
            p Because our e-commerce SEO packages provide A to Z SEO services of your need. 
            p So, if you need an SEO company to grow your online store website. 
            p Then do not miss this excellent chance and book a free call to contact our experts.
        div#section-3-image.section-2-class