extends base.pug

block style 
    style
        include ../static/css/home.css
        include ../static/css/homephone.css        
block content
    //- div.slider
    //-     div.slides
    //-     input#radio1.r-btn(type="radio", name="radio-btn1")
    //-     input#radio2.r-btn(type="radio", name="radio-btn2")
    //-     input#radio3.r-btn(type="radio", name="radio-btn3")
    //-     input#radio4.r-btn(type="radio", name="radio-btn4")
    //-     div.slide.first
    //-         img(src="../static/image/1.jpg", alt="")
    //-     div.slide
    //-         img(src="../static/image/2.jpg", alt="")
    //-     div.slide
    //-         img(src="../static/image/1.jpg", alt="")
    //-     div.slide
    //-         img(src="../static/image/2.jpg", alt="")
    //-     div.navigation-auto
    //-         div.auto-btn1   
    //-         div.auto-btn2   
    //-         div.auto-btn3   
    //-         div.auto-btn4 
    //-     div.navigation-mannual  
    //-         label.manual-btn(for="radio1" ) 
    //-         label.manual-btn(for="radio2" ) 
    //-         label.manual-btn(for="radio3" ) 
    //-         label.manual-btn(for="radio4" ) 
    div.popup
        div.popupblur
        div.popup-content
            button.close 
                b Close
            |#[a(href="/seo-packages") Explore] 
    div#digital-marketing-image01
    div#digital-marketing1
        div#digital-marketing1-image.sub-digital-marketing1
            h2 Ekwik Digital 
            p Ekwik Digital is the best and top digital marketing company in India, working for years. Having more than 4500 satisfied clients and over 1200 active clients is not an easy task. But we made this possible with our high-quality services and transparent working model. The expert team of Ekwik Digital has put much effort and keeps putting in all the projects. Here you get a personalized marketing solution that will boost your sales and customer reach at the ultimate level.  
            p We are committed to providing quality web development, CRM, and digital marketing services. So, you can find your business needs, whether you are an individual, small or medium business. 
            p From affordable web development to SEO services, all are made considering your needs. Thus, if you want services from the best digital marketing company. Then you can surely tell your business goals to Ekwik's experts. With a vast expert team, you can have a dedicated professional. We have the facility to ensure our clients get the best digital marketing services under a tight budget. 
        div#digital-marketing1-content.sub-digital-marketing1 
    div#card-container 
        div#card1.cards
            div#card1-image.cards-image
            h3 #[a(href="/seo-packages") Digital Services]
                     
        div#card2.cards
            div#card2-image.cards-image
            h3 #[a(href="/website-designing") Website Development]
           
            
        div#card3.cards
            div#card3-image.cards-image
            h3 #[a(href="/android-app-development") App Development ]
    
           
    div#ekwik-digital-difference-id1.ekwik-digital-difference-class
        div#ekwik-digital-difference-image-id1.ekwik-digital-difference-image-class
        div#ekwik-digital-difference-content-id1.ekwik-digital-difference-content-class
            h2 How is Ekwik Digital Different from the Other Digital Marketing Companies? 
            p We are the SEO Agency that provides 100% result-driven marketing services. 
            p Taking our guaranteed services, you can see the result just from the month. We have a team of the best SEO experts in India, and they work on your project. 
            p Finding the best digital marketing company is a tricky task. But now, it's easy for you because, at Ekwik, you get a dedicated project manager. 
            p Our weekly and monthly reports will help you to stay tuned for your progress. You know the importance of this facility that you get with us. 
            p We are the top SEO company and also the best digital marketing company in India. Get what you need with our 360-degree marketing services. 
    div#ratings-main
        div#sub-rating.sub-rating-class
            h2 On Time Delivery
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        div#sub-rating.sub-rating-class
            h2 Satisfied Customers
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        div#sub-rating.sub-rating-class
            h2 4.8+ Ratings
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
    div#ekwik-digital-difference-id2.ekwik-digital-difference-class
        div#ekwik-digital-difference-content-id2.ekwik-digital-difference-content-class
            h2 What are the Best Services of Ekwik Digital? 
            p From simple blog websites to complex eCommerce website development facilities are available. Our developers have worked on hundreds of web development projects. Hence they can make the best website for your business by implementing SEO guidelines.  
            p Our digital marketing services make us the top-rated digital marketing company in Delhi. It is because we have flexible and essential marketing packages. That will multiply your business leads in a few months.             p Finding the best digital marketing company is a tricky task. But now, it's easy for you because, at Ekwik, you get a dedicated project manager. 
            p If you are finding SEO services in Delhi, then stay with us. Because our best SEO expert knows what Google likes. Hence, they can bring massive traffic to your website organically. PPC is one of the best ways to generate leads in the short run. But you need the best digital marketing company like Ekwik. 
        div#ekwik-digital-difference-image-id22.ekwik-digital-difference-image-class
    section#benefits 
        h1 Key Benefits you get only with Ekwik Digital 
        div#benefits-sub-section
            div#benefits-image
            div#benefits-content
                ul 
                    li 1. Guaranteed results even in highly competitive tasks such as SEO.
                    li 2. Industry-Level quality of services.
                    li 3. Easy to scale digital marketing packages.
                    li 4. Experience in ranking hundreds of website for thousands of keywords.
                    li 5. Creative and eperienced content creators.
                    li 6. Never-ending number of satisfied customers.
                    li 7. Affordable services are suitable for small to enterprise level businesses.
                    li 8. The transparency provided through live performance tracking.
                    li 9. Dedicated teams and project managers for clients.
                    li 10.Tailor-made digital marketing packages.
    Section#portfolio-heading
        h1 See our Real Results
        p We Don't Believe in talks !
        div#portfolio-image
    section#portfolio
        div#portfolio1.port
            h3 #[a(href="/portfolio") PORTFOLIO]
        div#casestudies.port
            h3 #[a(href="/portfolio") CASE STUDIES]
        div#seo-results.port
            h3 #[a(href="/portfolio") SEO RESULTS]
        div#testimonals.port
            h3 #[a(href="/portfolio") TESTIMONIALS]
    section#faqs
        div#faq1.faq
            h2 FAQs For Search Engine Marketing Services 
            div#f1q1.q
                h4  1. What is search engine marketing? 
                button#f1btn-1.f-btn 
                    b <i id="rotate" class="fas fa-plus"></i>
            div#f1a1.a
                p  Search engine marketing (SEM) is the type of online or web marketing to increase website visibility. It comprises many search marketing activities to promote the website organically and non organically. SEM includes search engine optimization, PPC ads, SMM, SMO, Local SEO, and more.  
            div#f1q2.q
                h4  2. How much time can SEO take to show results?
                button#f1btn-2.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a2.a.a-active
                p  The result from search engine optimization efforts comes a few weeks later. It depends upon thousands of factors, such as correct keyword placement. It is also dependent on the website DA, social shares, links, and more. However, the SEO efforts can start showing results in two to three weeks. Although, primarily, the SEO efforts show its stunning results from 6 to 10 weeks. At Ekwik Digital, we also claim a similar duration before our clients. Because we use white hat SEO for evergreen results without any penalty.  
            div#f1q3.q
                h4 3. How much do SEM services cost?
                button#f1btn-3.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a3.a.a-active
                p Search engine marketing includes a variety of marketing techniques. Hence, businesses need to spend a good amount to get this service. And most digital marketing companies charge $500 to $5000. Although, at Ekwik, you can see the packages starting from $250 to your budget. Also, our entry-level SEM services beat the mid-level package of another brand. We aim to help small to midsize businesses in their stable growth. Hence, if you have a low budget to invest in SEM, Ekwik Digital is the place for you.  
            div#f1q4.q
                h4  4. How can search engine marketing can help businesses? 
                button#f1btn-4.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a4.a.a-active
                p Like many other businesses, you also want to grow your brand. But it is only possible if you use the ideal SEM strategy. Because when you use it in an efficient way, it provides the following benefits: 
                p a.	More sales on current products you offer to customers. 
                p b.	Get high social and web appearances, thus more customer interaction.
                p c.	Enjoy an increased number of potential leads and loyal customers. 
                p d.	You get the benefit of more traffic to the website and followers on social media. 
                p These are just a few benefits you can enjoy by implementing the best SEM strategy.  

            div#f1q5.q
                h4  5. What is the meaning of organic search results?
                button#f1btn-5.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a5.a.a-active
                p  Organic search results or natural search engine results are the web pages listed in SERPs. However, this website owner does not require paying like paid ads. And the ranking of the website in organic search depends on many factors. These factors can be the longevity of the site, web traffic, location, and more. So, when your website ranks in search results using free marketing techniques. Then it means your website is appearing in organic search results.  
            div#f1q6.q
                h4  Is SEO very slow compared to other SEM techniques?
                button#f1btn-6.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a6.a.a-active
                p  Search engine marketing takes time to show its stunning results. However, the result time depends upon the keyword selection. And also the longevity of the website along with other factors. And it can take up to 10 weeks to show the incredible results. But still, it's worth investing in it because it provides a long-term ranking. And remember, when more people start coming to the site, your site will quickly get ranked.  
            div#f1q7.q
                h4  7. Do I need to make a massive investment in SEM services?
                button#f1btn-7.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a7.a.a-active
                p  You might think this because businesses invest between $2,500 to $10,000. But don't assume you can not afford SEM services. Because at Ekwik Digital, we have budget-friendly SEM packages. That will meet all the requirements under budget. And our team will utilize the best strategies to provide attractive and scalable results. Hence, whether you have less or more budget to invest. Just contact our marketing team and us for the best support. 
            div#f1q8.q
                h4 8. Does HTTPs affect search engine optimization?
                button#f1btn-8.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a8.a.a-active
                p Yes, HTTPs also affects your search engine optimization efforts. It is more secure than HTTP, and also Google prefers sites with HTTPs. If you want your site and its content to index and rank fast. In that case, you must get HTTPs for your website. Because it will make your website and its data more secure for you. And it will also help you to make the most of your SEO efforts. Therefore, Ekwik Digital recommends that clients use HTTPs on their site.  
            div#f1q9.q
                h4  9. Can you guarantee to rank my site on #1?
                button#f1btn-9.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a9.a.a-active
                p  Most of the businesses want to rank in the #1 position in SERP. Also, many digital marketing company says they will give you the #1 ranking. But you must know that several factors affect the ranking of the site. If it has ranked at #1 position, then next time, it might get another ranking. Because it depends upon the search term and location of the user. Also, results of PPC, the competitiveness of keywords, and more. Thus, at Ekwik Digital, we do not give you a guarantee to rank your site #1. Because we know it is possible to provide a higher ranking in SERP. We use the best strategy and white hat SEM techniques. And if someone guarantees this, then you must be aware of those. They are cheating you or will use black hat SEO that can harm your site. 
            div#f1q10.q
                h4  10. Why should I get your search engine marketing services?
                button#f1btn-10.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f1a10.a.a-active
                p  Ekwik Digital is the responsible and best digital marketing company. We use a set of best white hat SEO and other SEM activities. So, your website gets visibility on various social channels. Our team helps your brand get high DA links and referral traffic. Our marketers help your site to get social media traffic. We utilize all the possible web marketing techniques for you. Because we care for our clients and their success story in the online world. Thus, if you also want to connect with the best digital marketing agency. Then you can feel free to reach our marketing team of experts. 
            
        div#faq2.faq
            h2 FAQs For Design And Development Services 
            div#f2q1.q
                h4  1. How much do Ekwik's website design and development services cost?
                button#f2btn-1.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a1.a
                p  Web development is the essential and flexible service that a business needs. And therefore giving a special price for the web design and development services is challenging. The needs of small businesses can be different from those of mid-size or large businesses. Hence, Ekwik provides quotes based on the needs of businesses and goals. If you have a tight budget and need scalable development services. Then also, Ekwik has the best affordable packages from expert developers. 
            div#f2q2.q
                h4  2. How much time does it take a site to get developed?
                button#f2btn-2.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a2.a.a-active
                p  Most of the web design and development projects get completed in under eight weeks. However, the duration of the complete development process depends upon clients. If the client provides essential information in the initial days. And also stay active with feedback and other information. Then the website can be developed in under six weeks as well. However, complex sites need more time compared to others. Hence, reach us and provide details about your goals. So, our team can provide you with an ideal turnaround for your project. 
            div#f2q3.q
                h4 3. Do you also develop a WordPress website?
                button#f2btn-3.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a3.a.a-active
                p  Yes, Ekwik Digital also provides WordPress website development services. You can get a customized quote for your business requirements from our team. However, we also provide other development services based on clients' requirements.
            div#f2q4.q
                h4  4. Do you provide hosting and domain registration in your service?
                button#f2btn-4.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a4.a.a-active
                p  Sorry, we ask our precious clients to come with registered domain and hosting. Because we care for their privacy, therefore we do not provide hosting and domain registration services. However, if your business needs some assistance for the same concern. Then our expert can guide you on which domain extension and hosting can be better for you. 
            div#f2q5.q
                h4  5. Who writes content for your website?
                button#f2btn-5.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a5.a.a-active
                p  Website is not only about coding and design elements. But it also contains many copies about the brand and its product. Hence, mostly we ask clients to provide content for their website. As they know more about their brand and services. However, Ekwik Digital also provides copywriting and content writing services. So, you can get all services in one place without any hassle. 
            div#f2q6.q
                h4 6. Can you build a mobile-friendly responsive website?
                button#f2btn-6.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a6.a.a-active
                p  Sure, we know how important mobile-friendly websites are. Hence, we also provide mobile-friendly web development services at the lowest cost. You can tell your requirements and budget to get a quote. 
            div#f2q7.q
                h4  7. When do I need to pay for web development services?
                button#f2btn-7.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a7.a.a-active
                p We deal with small to large enterprises for various development projects. And considering all of our clients, we have made the payment cycle simple. You need to pay some portion of the quote upfront and remain in the middle and end of the project. Also, Ekwik Digital accepts debit cards, credit cards, UPI, PayPal, and more. 
            div#f2q8.q
                h4 8. Do you provide web design services for an existing website?
                button#f2btn-8.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a8.a.a-active
                p  Yes, we love to help our clients in the best possible way. If you think your website looks outdated and does not engage visitors. Then you can consider our web design services or responsive design services. We have experienced web designers who work with cutting-edge technologies. Thus, feel free to contact our expert designers to get the best web design solutions. 
            div#f2q9.q
                h4 9. Can you install Google Analytics on my website?
                button#f2btn-9.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a9.a.a-active
                p  Yes, when your website gets launched successfully without any issue. Then we also add some crucial plugins along with Google Analytics. So you get your website ready to use and perfect. However, you are required to share the tracking code or other information. So, we can efficiently execute this task for you and hand it over to you. 
            div#f2q10.q
                h4  10. Will I get support once the site gets launched?
                button#f2btn-10.f-btn 
                    b <i class="fas fa-plus"></i>
            div#f2a10.a.a-active
                p  If you have developed or designed a website from Ekwik Digital. Then you will not have to worry about any technical or support issue. Because whenever you mail or call us with your query. Our technical team will professionally handle and fix the issue. Hence, we have excellent customer support for our precious clients.
    div#ekwik-digital-difference-id2.ekwik-digital-difference-class
        div#ekwik-digital-difference-content-id2.ekwik-digital-difference-content-class
            h2 Hire us! 
            p Customers are more likely to trust the brand if they have a social presence. Hence, if you don't know how to do SMO and SMM for your business. Let us do this for you so you can directly influence your customer.             
            p Our digital marketing services make us the top-rated digital marketing company in Delhi. It is because we have flexible and essential marketing packages. That will multiply your business leads in a few months.             
            p Finding the best digital marketing company is a tricky task. But now, it's easy for you because, at Ekwik, you get a dedicated project manager.              
            p 
                span#pcolor So, are you ready to get web development, marketing, and SEO services in India? Check out our affordable packages for the best digital marketing services. You need our services as you deserve more leads than your competitor. 
        div#ekwik-digital-difference-image-id2.ekwik-digital-difference-image-class
    h1#pricing-heading PRICING
    section#pricing
        div#local-seo-packages.packages
            div#square1.square
                h1  &nbsp;&nbsp; LOCAL SEO PACKAGE
                div#circle1.circle
                    h3 8,000 INR
                    P /Per Month
            div#rectangle1.rectangle
                p <i class="fas fa-check"></i> Keywords Top 10 (20%) 
                p <i class="fas fa-check"></i> In-depth Site Analysis
                p <i class="fas fa-check"></i> Duplicate Content Check
                p <i class="fas fa-check"></i> Keyword Analysis
                p <i class="fas fa-times"></i> Baseline Ranking Check
                p <i class="fas fa-times"></i> Keyword URL Mapping
                p <i class="fas fa-times"></i> Broken Links Check
                p <i class="fas fa-times"></i> Google Penalty Check
                button 
                    b #[a(href="https://rzp.io/i/AyLi2kel" target="_blank") ORDER NOW]
        div#seo-packages.packages
            div#square2.square
                h1 GLOBAL SEO PACKAGE
                div#circle2.circle
                    h3 15,000 INR
                    P /Per Month
            div#rectangle2.rectangle
                p <i class="fas fa-check"></i> Keywords Top 10 (35%)
                p <i class="fas fa-check"></i> In-depth Site Analysis
                p <i class="fas fa-check"></i> Duplicate Content Check
                p <i class="fas fa-check"></i> Keyword Analysis
                p <i class="fas fa-check"></i> Baseline Ranking Check
                p <i class="fas fa-check"></i> Keyword URL Mapping
                p <i class="fas fa-times"></i> Broken Links Check
                p <i class="fas fa-times"></i> Google Penalty Check
                button 
                    b #[a(href="https://rzp.io/i/A3tAbO8z" target="_blank") ORDER NOW]
        div#ecom-seo-packages.packages
            div#square3.square
                h1 BUSINESS SEO PACKAGE 
                div#circle3.circle
                    h3 21,000 INR
                    P /Per Month
            div#rectangle3.rectangle
                p <i class="fas fa-check"></i> Keywords Top 10 (45%)
                p <i class="fas fa-check"></i> In-depth Site Analysis
                p <i class="fas fa-check"></i> Duplicate Content Check
                p <i class="fas fa-check"></i> Keyword Analysis
                p <i class="fas fa-check"></i> Baseline Ranking Check
                p <i class="fas fa-check"></i> Keyword URL Mapping
                p <i class="fas fa-check"></i> Broken Links Check
                p <i class="fas fa-check"></i> Google Penalty Check
                button 
                    b #[a(href="https://rzp.io/i/HqXXMZit5L" target="_blank") ORDER NOW]
    block script 
    title Top digital marketing company In India | Best SEO Services 
    <meta name="description" content="Ekwik digital provides customize services to grow your business. We are Indian based company delivering services like SEO, SMO, PPC to helps their clients achieve marketing goals and make their online presence.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/js/popup.js") 
    script(src="/static/js/main.js")
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>       
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2D6D3KZBM"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-P2D6D3KZBM');</script>
    script(src="/static/jquery/main.js") 
