extends base.pug

block script 
    title Mobile Website Design & Development
    <meta name="description" content="We are one of the top mobile website designer companies. With the increase of mobile we develop such interface which suits the customer needs.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/mobile-design.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Mobile Website Design
            p Do you need impeccable mobile website design services? 
            p Ekwik Digital provides the best mobile website design services. 
            p If you are starting or an established company. Having a mobile-friendly website design is extremely useful. 
            p Because now most of the searches happen through the mobiles. 
            p Hence, if your website will not look professional on such a device. 
            p Then users will neither engage nor make any sales. 
            p Thus, get our affordable mobile website design packages.
            p And let our team provide you with a high-quality, responsive site. 

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why is Ekwik Digital is best mobile website design company? 
            p Ekwik Digital is one of the reputed mobile web design companies. 
            p And we have been offering this best quality service for many years. 
            p We have successfully delivered outstanding bug-free design projects. 
            p Whether you hold an e-commerce or enterprise website. 
            p Our designers and developers will transform the complete site. 
            p And they will ensure your mobile user gets a responsive experience. 
            p Ekwik Digital focuses on small to medium businesses. 
            p As they mostly do not have a considerable budget to invest. 
            p Thus they struggle with poor customer response. But if you get in touch with Ekwik Digital and our team. 
            p They will bring a highly competitive and affordable package. 
            p That you can utilize to get your mobile website design. 

   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 How to book mobile website design packages? 
            p If you wish to connect with our expert team for the best services. 
            p Then you can directly choose the ideal mobile website design packages. 
            p Or you can also make a call to get one-to-one interaction with experts. 
            p It is one of the best ways to book your mobile web design package. 
            p Because here you will get several tips and ideas. 
            p That will help you to get an outstanding mobile-friendly website design.
            p Thus, choose the ideal way to book your web design services. 
            p So, you can get more engagement and conversion rates on business sites. 
 
        div#section-3-image.section-2-class