extends base.pug

block script 
    title Orm Packages | Online Reputation Management Services Packages
    <meta name="description" content="ORM Packages at very affordable price by Ekwik digital. We manage all your Website need to bring best result for your business for your Brand itself.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/orm.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 ORM Packages 
            p Have you tried our ORM packages for your brand?
            p Businesses nowadays do their best to offer the best products for their customers. But still, there can be some customers who can place a negative comment. These negative comments and feedback can negatively impact your business.
            p And currently, most businesses struggle with this issue. If a website and its product go live for customers. Then there is no complete control over the ill comments for brands.
            p But if you utilize the online reputation management packages of Ekwik. You can indeed fix this issue because our expert will help you.
            p They know how to use diverse tactics to improve brand reputation. 
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why are ORM packages beneficial for your brand? 
            p ORM is one of the most advantageous marketing techniques. And it is constructive for the brand to get low ratings.
            p Most of the brands get low ratings due to many reasons. If you have sold the high-quality product to customers. Then you might get bad reviews because of late responses. With our ORM packages, your ideal customers can get fast responses.
            p Moreover, the positive presence of the brand also improves the brand’s status.
            p After taking our ORM services, you will gain the trust of customers.
            p It will ensure high transparency between the brand and customers.
            p Thus, if you want to see your robust online reputation. Then you can get our online reputation management services packages. These packages are available at very accessible charges. Hence take this excellent opportunity to grow your brand.  
           
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Benefits of Ekwik’s ORM packages
            p Ekwik’s online reputation management services packages are incredibly supportive. 
            p It will help you to deal with negative comments on forum sites. 
            p We will also improve your social media branding to get your place back. 
            p Some microsites also post negative feedback.
            p We help in discovering and solving that risk as well.  

        div#section-3-image.section-2-class