extends base.pug

block script 
    title Outsource SEO India | SEO Outsourcing Company India
    <meta name="description" content="Ekwik Digital is one of the top Outsource Seo India which helps clients to give end to end solution related to their business. ">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/outsource-seo.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Outsource SEOIndia  
            p India is one of the emerging markets in the IT sector. 
            p And most companies are going online and finding the best SEO services. 
            p Therefore, many marketers and companies are in the race to serve them.
            p But for this, companies need SEO specialists and several tools.
            p Therefore, many startup firms miss out on this excellent chance. 
            p But now you do not have to worry because Ekwik Digital is here. 
            p And you can utilize its SEO outsourcing services from now. 
            p So are you here to find SEO outsourcing services in India?

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why should you outsource SEO? 
            p Search engine optimization is the primary need of any online business. 
            p Hence, there are lots of projects available to work on and get paid. 
            p But it can feel challenging to handle lots of projects.
            p You might have limited resources and an in-house team for it.
            p Therefore, if you outsource SEO services in India for additional projects.
            p Then you will not have to hire any new employees.
            p You will also not have to allocate new resources from your side. Moreover, you can also acquire new projects if you are already full of them. 
            p Because we are going to handle all these SEO projects under your name. So you can make a high income and enjoy an attractive margin.
            p If you reach our team, then they will streamline the process. And all these tasks will execute smoothly for max results. 

   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Get ready to join our outsource SEO program. 
            p So, get ready to be part of our hot outsource SEO services program. 
            p Because under this program, we handle link building to other SEO activities.
            p And you need to show the final output before your clients.
            p If you want to connect with a top-rated SEO outsourcing company in India.
            p Then Ekwik Digital is in the first place you need to put. 
            p Thus, call and get most of this outsource SEO in India program.

        div#section-3-image.section-2-class