extends base.pug

block script
    title PPC Management Company | PPC Management Agency
    <meta name="description" content="We are one of the best optimizer of PPC Campaign and provide service to clients as per their requirements. 100% result oriented service.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/ppc-service.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 PPC services  
            p Ready to move your business in the online industry and started promoting your business with search ads campaigns, 
            p but hold on did you know the best way to promote your business online with search ads? 
            p Its PPC (Pay Per Click) services that will help you to generate leads fast.
            p You can say PPC is based on Google’s adverts or search ads 
            p but there more platforms where you take advantage of PPC marketing in different ways.
            p So, to get the best PPC services, you need to find the best PPC management agency.
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 What is PPC? 
            p PPC or (Pay Per Click) is an online search ad-based service provided to businesses 
            p who want to promote their business or products online by posting their ads in the result Google’s search result page.
            p Among all search ads services, PPC is considered as most affordable advertisement program for all kinds of businesses 
            p from beginners to professional’s ones. Hence, businesses make budget to get  PPC advertising services.
            p Especially the growing businesses can take advantage of PPC to promote themselves without paying a load of money. 
            p So, to get the best PPC services, you need to find the best PPC management agency. 
            p And if you are in Delhi then you will need the help of a professional to hold all this PPC and advertising thing so you can sit and watch your business grow without any interruption.  
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Ekwik digital as a companion to start your online journey 
            p When talking of digital marketing agencies you can put your custody in Ekwik digitals hand, because Ekwik digital’s PPC services are way better than other digital marketing agencies in Delhi. After all, Ekwik digital run PPC campaigns for your business on different online marketing platforms and our customer executives are very well familiar with the interface of all social media and adverts programs, with their years of experience and their vast knowledge of digital marketing they can find what’s your business’s online needs and what is much profitable for you at a price point you can’t regret.

        div#section-3-image.section-2-class