extends base.pug

block script 
    title Responsive Web Design Services
    <meta name="description" content="Ekwik digital offers Responsive web design services and ensures web solution which behave to the screen size it is displayed on.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/responsive.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Responsive Design
            p Have you noticed that over 50% of the world's traffic comes from mobile devices? If you want your websites to load on mobile devices. Your website needs to be responsive and fast loading. So your mobile users can also get an excellent experience. 
            p But most brands do not consider this a significant factor. Hence, they miss significant traffic of mobile devices. But now, you can get Ekwik’s responsive web design services.
            p And by utilizing it, you can ensure your site is responsive. So the mobile users get a great experience while visiting the site. 
            p Book your query now
            p Thus, contact us, the most reliable responsive web design company. So, we can give you the most flexible web design solutions.


        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Get stunning responsive web design services.
            p Whether you have a new site or are willing to upgrade the old one. 
            p You can still avail of quickly Digital’s responsive web design services. 
            p We have expert developers and designers offering these services. 
            p With their expert knowledge, they can provide you with excellent results. 
            p Also, we prefer to help especially new startups to mid-size companies. 
            p Hence if you want responsive website design services. 
            p And also fall under this category, then Ekwik Digital will be the best choice. 
            p Because our services are designed especially for businesses like you. 

   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Accessible and reliable responsive web design prices 
            p Companies pay $500- $10,000 to responsive web design agencies. 
            p So they can provide attractive web design services for businesses. 
            p But at Ekwik Digital, we provide the same level of services at far accessible rates. 
            p So the small to mid-level companies can also get the same. 
            p And generate more leads from potential users. 
            p Thus, if you can find the perfect combination of best work and less pricing. 
            p Then Ekwik Digital will be that place where you can find the same. 

        div#section-3-image.section-2-class