extends base.pug

block script 
    title Best Search Engine Marketing Consultant | SEM Company
    <meta name="description" content="Ekwik digital provides Search engine marketing (SEM).It is one of the best paid consultants to improve your business's results in search engines">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Search Engine Marketing  
            p Search engine marketing or SEM is a dominant chapter of online advertising which lets you promote your website or any other kind of digital advertisement by paying an amount to post their ad on the top search engine result page (SERPs) rather than going with the organic method.
            p With SEM you can boost your website ad easily with different types of SEM programs one of them is Pay Per Click (PPC). PPC is a way of website advertising service that will show your ad on the top of the SERP and will only charge you when clicks on your ad. Using many other SEM campaigns can help you to get a good amount of online visitors that can turn out be as your reliable customers. Thus, if you want to get more visibility among a targeted audience. Then taking search engine marketing services can be a great way. There are many top SEM agencies, including Ekwik Digital, to get this service.
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Great SEM services call for professional’s guidance
            p SEM can be described as a prominent way of advertising on SERP without waiting for the search engine to rank your ad through your organic SEO. 
            p SEM can be performed on any paid platform with the help of a great SEM specialist, although businesses in Delhi always put their money on the best SEM Company in Delhi – Ekwik digital.
            p Ekwik digital is the one who you can put your trust in because to create a great bond with our customers and to be known as one of the top SEM agencies, 
            p we put all of our efforts to give you the best result that will help you grow smoothly.
            p We at Ekwik digital give our customers the freedom to make the verdicts in a way to expand their online business with Ekwik’s finest SEM professionals’ help. 
            p Ekwik’s world-class digital and search engine marketing services are the key by which we stand on top among the best search engine marketing firms.

    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 SEM services offered by Ekwik digital 
            p PPC services – pay per click services for web ads and WebPages
            p Paid social media services – paid social media ads to spread awareness of your products
            p Paid video services – paid ads on video streaming platforms to reach out to more users
            p And many more paid services that will help you to reach a great number of audiences without any headache.

        div#section-3-image.section-2-class