extends base.pug

block script 
    title Complete Seo Marketing Price Packages
    <meta name="description" content="Ekwik digital offers Complete Seo Marketing Price Packages for result oriented business. Hire us for gaining market momentum and accelerate your business.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/seo-pricing.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 SEO Pricing
            p Does your site get thousands of traffic on buying keywords? 
            p If not, then your search engine optimization efforts are not up to the mark.
            p Because now the SEO is becoming challenging as most marketers are doing the same. 
            p So how can you rank high and get immense traffic from search results? You can only attain this crucial milestone by implementing the best SEO strategies.
            p So, to help you in SEO, we have started providing SEO services packages. 
            p And the most remarkable thing about Ekwik's complete SEO packages is that they are very affordable. Our SEO pricing is not only affordable, but it's a complete SEO service you can avail of.
 
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 We believe in SEO services that grow business. 
            p SEO pricing to the SEO packages of Ekwik Digital will attract you a lot.
            p Because using our SEO packages, you will get guaranteed organic traffic.
            p It will also improve brand awareness, trust, customer loyalty, and sales. 
            p In short, after getting this SEO service package's pricing, you will see brand growth.
            p So, try our affordable and yet flexible SEO marketing packages.
            p Once you define your service package, we will work directly for you. 
            p So, you can get all your business needs and maximize ROI. 
            p These are custom and flexible packages with several benefits. 
            p If you get our SEO marketing packages, then you will get a dedicated SEO expert. 
            p So, you get up-to-date analysis and reporting of our SEO efforts. 

    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 What does a complete SEO package include? 
            p We provide a complete SEO package to you using modern tools.
            p And if you choose Ekwik's SEO services, then you get keyword research to keyword optimization service.
            p We also optimize your GMB, set up Google Analytics and its traffic analysis. 
            p Along with this, you also get guest post backlinks to profile backlinks for maximum visibility.
            p These are just a few names of what our complete SEO packages include.
            p So, if you also want to get all these things to be done for your brand.
            p Then contact us for more information about our SEO pricing.
 
        div#section-3-image.section-2-class