extends base.pug

block script 
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/portfoliophone.css
        include ../static/css/homephone.css

block content
    section#table1.table
        div#t-heading.t-settings
            h1 GOOGLE.COM
        div#t-category.t-settings
            H3 CATEGORY: Wildlife Safari
        <table>
            <tr>
                <th class="s-no">S.NO</th>
                <th>KEYWORDS</th>
                <th>COMPETITION</th>
                <th>INITIAL RANKING</th>
                <th>RANKING ON DATE</th>
            </tr>
            <tr>
                <td class="s.no">1</td>
                <td>Wagon tour wildlife safari</td>
                <td>233</td>
                <td>1</td>
                <td>1 Dec</td>
            </tr>
            <tr>
                <td class="s.no">2</td>
                <td>Best safari parties in india</td>
                <td>203</td>
                <td>1</td>
                <td>2 Dec</td>
            </tr>
            <tr>
                <td class="s.no">3</td>
                <td>Wildlife safari wagon tour</td>
                <td>144</td>
                <td>1</td>
                <td>2 Dec</td>
            </tr>
            <tr>
                <td class="s.no">4</td>
                <td> Wildlife wagon tours</td>
                <td>163</td>
                <td>1</td>
                <td>2 Dec</td>
            </tr>
            <tr>
                <td class="s.no">5</td>
                <td> Best private safari tours in india</td>
                <td>253</td>
                <td>1</td>
                <td>3 Dec</td>
            </tr>
            <tr>
                <td class="s.no">6</td>
                <td> Jim corbett safari booking price</td>
                <td>258</td>
                <td>1</td>
                <td>3 Dec</td>
            </tr>
            </table>
    section#table2.table
        div#t-heading.t-settings 
            h1 GOOGLE.COM
        div#t-category.t-settings
            H3 CATEGORY: Digital Marketing
        <table>
            <tr>
                <th class="s-no">S.NO</th>
                <th>KEYWORDS</th>
                <th>COMPETITION</th>
                <th>INITIAL RANKING</th>
                <th>RANKING ON DATE</th>
            </tr>
            <tr>
                <td class="s.no">1</td>
                <td>best seo training institute in laxmi nagar</td>
                <td>353</td>
                <td>1</td>
                <td>1 Dec</td>
            </tr>
            <tr>
                <td class="s.no">2</td>
                <td>digital marketing classes laxmi nagar</td>
                <td>253</td>
                <td>1</td>
                <td>2 Dec</td>
            </tr>
            <tr>
                <td class="s.no">3</td>
                <td>ppc training course in laxmi nagar</td>
                <td>244</td>
                <td>1</td>
                <td>2 Dec</td>
            </tr>
            <tr>
                <td class="s.no">4</td>
                <td> advance seo training course in laxmi nagar</td>
                <td>263</td>
                <td>1</td>
                <td>2 Dec</td>
            </tr>
            <tr>
                <td class="s.no">5</td>
                <td> best online digital marketing course in laxmi nagar</td>
                <td>213</td>
                <td>1</td>
                <td>3 Dec</td>
            </tr>
            <tr>
                <td class="s.no">6</td>
                <td> smo course in laxmi nagar</td>
                <td>228</td>
                <td>1</td>
                <td>3 Dec</td>
            </tr>
            </table>
    
    section#margin