extends base.pug

block script 
    title Seo Services Packages – Best & Affordable SEO Plan India
    <meta name="description" content="Our SEO Packages Start from rs 8000 to 21000. Reach your website to attain and retain qualified organic traffic. Our SEO packages include a combination of proven SEO tactics.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style  
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h1 SEO Packages 
            p Do you need affordable and proven SEO services? Are you in search of an SEO service provider? Ekwik Digital is a renowned SEO agency with a track record. It has a well-versed eam of SEO consultants who help small to large businesses. Whether you have a small or large budget, you all can find ideal SEO services. 
            p Our search engine optimization services are developed to help businesses. So, you can also reach directly or by search to a targeted audience. By taking Ekiwik’s SEO solutions, you can improve your brand's domain authority. We also reduce the spam links from these sites to improve spam scores. Moreover, our services also include guest posting on high DA sites. So that your brand gets more visibility and referral traffic.
            p Not only these, but our SEO consultants work on social sites. And improve the social media appearance of Ekwik’s clients. So, tell your business goals and let us help you with a robust SEO strategy.
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Benefits of search engine optimization services 
            p  As a brand, you can hire an SEO specialist as an employee and pay a fixed salary.
            p But this way can be an expensive deal, especially if you are just starting.
            p Because this requires investment in paid SEO tools and essential resources.
            p But if you hire us, the best SEO firm, you do not need to bear any additional cost.
            p You are just required to pay for the SEO service packages. 
            p And we utilize paid SEO tools and highly experienced experts.
            p So you can attain a higher ranking in search results and grow an audience.
            p We also reduce the spam links from these sites to improve spam scores. 
            p Moreover, our services also include guest posting on high DA sites. 
            p So that your brand gets more visibility and referral traffic.
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 SEO services. 
            p Also, we have various packages for search engine optimization services. 
            p And all these packages are customizable as per your business needs. 
            p You can choose any SEO service package and allow us to execute SEO techniques.
            p So, get a free quote for the best SEO services for your brand.
            p Because this is a golden opportunity to beat your competitors.
        div#section-3-image.section-2-class