extends base.pug

block script 
    title Affordable Small Business Seo Pricing Packages
    <meta name="description" content="Ekwik digital offer Small Business Seo Packages for those who start their business and want to achieve their goals.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/small-business-seo-pack.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Small Business SEO 
            p Get ready to drive massive traffic to your business website.
            p Ekwik Digital is now offering affordable SEO plans for small businesses.
            p We also have excellent packages for large enterprises. 
            p But this plan is especially for those having a low SEO budget to invest.
            p Search engine optimization is a powerful tool,
            p especially for startup companies. 
            p It helps marketers to connect business directly with customers.

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Robust SEO strategies can help you grow your brand.  
            p Customers of today are more likely to purchase products online. They use search engines to search for desired phrases to find their next purchase.
            p If you use our small business SEO packages in India for your brand. Then you can also be part of the crucial buying journey of these customers.
            p Our affordable small business SEO packages in India are suitable for most brands. If you get these packages, then you can get more moments in most customers’ buying journeys.
            p Because you will get more appearance in the buying journey of customers. You will get more chances to generate leads and actual customers.
            p Ekwik has an experienced team of marketers full of the latest SEO tactics. If you ask them to help your brand by taking SEO for small business packages. Then you are surely going to avail a significant position among your competitors.
            p Hence do not miss out on this fantastic chance and contact our expert now. 
  
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Book Small Business SEO Packages now!
            p You can book your affordable SEO packages for small businesses in two ways. 
            p You can directly subscribe to our most affordable SEO services for small businesses. 
            p Or you can also text, mail, or call for a proposal based on your budget.
            p So, whichever SEO package suits you, you can select. 
            p It will surely be going to give you excellent results in a short time. 
  
        div#section-3-image.section-2-class