extends base.pug

block script
    title SMO Packages | Social Media Optimization Packages At Affordable Rate
    <meta name="description" content="We offer SMO packages at very convenient Price, we help you to create your brand in leading social media networks. Based on your need.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/smo-pack.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Social Media Package 
            p Willing to get the best social media optimization package? We, Ekwik digital, have designed the best SMO services packages. You can choose any for your brand even under a tight budget. 
            p Because social media platforms have become an integral marketing tool. By staying active on these sites, you can engage with your audience. And share exciting and engaging posts to educate about your offerings. 
            p But if you hire an SMO specialist, it can cost you a lot.
            p Because you will allocate all the resources and tools. 
            p But if you take our best SMO services packages, you will not have to get any tools. Just choose the ideal social media optimization package, and you are done. 

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 The best social media optimization agency 
            p Social media can be a powerful tool to grow a brand. 
            p It can help you to get multiple leads even in a day. 
            p But for this, you need a proper social media optimization plan. 
            p For this, we have highly talented social media marketing experts.  
            p They know what to post and how to post for the brand. Not only this,
            p they improve the engagement rate on your social profile.
            p So the social media platform starts promoting your content organically. 
            p Our SMO agency provides complete social media optimization for all social sites. 
            p Hence, when you take this service, then you see a well-managed social profile. 
            p That not only looks professional but also helps visitors to trust the brand. 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 We provide customized SEO services. 
            p Social media optimization is the primary need for modern marketing.
            p Hence you get it now from a talented team of Ekwik Digital. 
            p Because once your audience trusts your brand and appearance. 
            p They also get the services you offer to them for profit. 
            p So, without any hesitation, get our social media optimization services.
            p Because it will be your great decision to take your brand on the top. 
        div#section-3-image.section-2-class