extends base.pug

block script 
    title Social Media Optimization Company | SMO Agency
    <meta name="description" content="With help from our comprehensive social media optimization services, when you opt for social media optimization services there are many advantages and business benefits.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/social-media.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Social Media Marketing
            p Nowadays, marketers see social media platforms as a great tool. 
            p Because these sites have attained 4 billion daily users. 
            p So, it becomes easy for businesses to target potential customers. 
            p But these users can only be attracted if you use engaging SMM. Social media marketing is a great way to engage with these users. So you can convert them into genuine leads by building authority and a positive presence.
            p Yet, large companies use this marketing tactic by hiring experts. But small companies wouldn’t be comfortable doing this. So, Ekwik Digital has designed its best social media optimization packages. 
            p By taking those, your business can also stand out on social media platforms. Thus, you must try it to get social media leads fast. 

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Why is Ekwik best for social media marketing services? 
            p Ekwik Digital is a social media optimization company. 
            p And we have an in-house team of social media marketers. 
            p They use their most valuable SMM skills with modern tools. 
            p Also, they post engaging and informative information for your audience.
            p So, the targeted customers can attract and engage with your brand. 
            p The more engagement your brand gets, the more leads you will generate. 
            p Hence, we use best practices to generate the most prominent leads in a short time.
            p Thus, if you need the best social media marketing services. 
            p Then you must consider Ekwik Digital, the social media optimization agency. 
 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 What are social media marketing services?
            p The social media marketing services of Ekwik Digital is a marketing service. 
            p In this, we promote your brand on the desired social media platform. 
            p And use organic to paid methods to build high authority. 
            p So, your ideal customer considers you as a legit and reliable brand. 
            p And soon, they love to engage with your products to make sales. 
            p Thus, whether you are a startup or a large organization.
            p You should use the social media optimization packages of Ekwik Digital.
            p As our clients have generated over 200% more leads than earlier. 
 
        div#section-3-image.section-2-class