extends base.pug

block script 
    title 
    <meta name="description" content="">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/homephone.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/terms&condition.css

block content 
    section#terms-1.terms
        h1#terms-condition Terms and Conditions
        Section#t-1
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa consequuntur placeat, excepturi incidunt ea ullam laudantium iure totam fugit eligendi quibusdam quas laborum ipsum neque aperiam pariatur quidem vel atque delectus illum numquam aliquid tempora ab est. Amet beatae perspiciatis dolores similique exercitationem eligendi, maxime consequatur repellendus laboriosam cupiditate natus.         
    section#terms-2.terms
        h1#privacy-policy Privacy Policy 
        Section#p-1
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa consequuntur placeat, excepturi incidunt ea ullam laudantium iure totam fugit eligendi quibusdam quas laborum ipsum neque aperiam pariatur quidem vel atque delectus illum numquam aliquid tempora ab est. Amet beatae perspiciatis dolores similique exercitationem eligendi, maxime consequatur repellendus laboriosam cupiditate natus.         
    section#terms-3.terms
        h1#return-policy Return Policy
        Section#t-1
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa consequuntur placeat, excepturi incidunt ea ullam laudantium iure totam fugit eligendi quibusdam quas laborum ipsum neque aperiam pariatur quidem vel atque delectus illum numquam aliquid tempora ab est. Amet beatae perspiciatis dolores similique exercitationem eligendi, maxime consequatur repellendus laboriosam cupiditate natus.         
    