extends base.pug

block script 
    title 
    <meta name="description" content="">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/portfolio.css
        include ../static/css/portfoliophone.css
        include ../static/css/homephone.css

block content
    div#TESTIMONIALS
        h1 OUR TESTIMONIALS
    Section#t-section1.t-section
        div.display
            //- div#o-image
            p #1. I run a small printing company and needed a local SEO service. Hence, I contacted Mr. Durgesh, who helped me meet my goals. I'm currently delighted with the service I got and paid for. If you also need an affordable marketing service, I suggest Ekwik Digital. 
        div#owner-name.owner-name
            h1 Parvati Rao
    Section#t-section2.t-section
        div.display
            //- div#o-image
            p #2. It has professional and experienced digital marketers. They know how to deal with a variety of technical and search errors. 
        div.owner-name.owner-name
            h1 Praveena Narang
    Section.t-section
        div.display
            p #3. I have excellent experience with Ekwik Digital; its team designed my eCommerce website. Now it looks fantastic, and also it loads faster than ever. Also, because of Ekwik's service, our website gets high engagement with visitors.  
        div#owner-name.owner-name
            h1 Chetana D'Cruze
    Section.t-section
        div.display
            p #4. Ekwik Digital is the best place for freshers to work and gain experience. The work culture here is fantastic and pleasant. You will love to work here and get different projects to work on.  
        div#owner-name.owner-name
            h1 Shivani Tamboli
    Section.t-section
        div.display
            p #5. I took an SEO service from this marketing agency. And within a couple of weeks, I got the first lead for my business. Now every month, we get excellent leads and convert them; hence we recommend Ekwik's digital marketing services. 
        div#owner-name.owner-name
            h1 Ramesh
    Section.t-section
        div.display
            p #6. Ekwik Digital is the best place for marketers. Here we do not get forced instead of getting polite instructions and motivations. Founders are excellent; they will support you when you work here.  
        div#owner-name.owner-name
            h1 Naveen Chaudhari
    Section.t-section
        div.display
            p #7. We are a startup company and recently needed to launch our website. Although we had a limited budget, still Mr. Durgesh helped us. And he provided excellent WordPress website development service for our company. The look and feel of our website are unique and ultimately value for money. 
        div#owner-name.owner-name
            h1 Sashi Nagarkar
    Section.t-section
        div.display
            p #8. Excellent SEO service at an affordable fee; yes, you heard it correctly. I am a social media influencer and need to drive traffic to my blog and social profile. Hence, I did massive research, but all the SEO services In Laxmi Nagar were costly. But when I reached here, I felt it was accessible also, with the current result I'm pleased.  
        div#owner-name.owner-name
            h1 Pooja Gadhavi
    Section.t-section
        div.display
            p #9. I'm a blogger and needed to drive my blog's traffic. Hence, I chose the guest posting service of Ekwik Digital. It was excellent, and they provided excellent service at a meager price.  
        div#owner-name.owner-name
            h1 Karthika Mishra
    Section.t-section
        div.display
            p #10. Surely I will recommend Ekwik Digital if you need web development and design services. Recently we had a significant issue with our business website. It was not working and even taking a considerable time to load. But when we contacted Ekwik, the expert provided an excellent solution. Within a few weekdays, our website started working at excellent speed. 
        div#owner-name.owner-name
            h1 Sankar Patil
    Section.t-section
        div.display
            p #11. I like the way here's expert handles my digital marketing tasks. They are transparent in every aspect and provide legit services. 
        div#owner-name.owner-name
            h1 Upasana
    Section.t-section
        div.display
            p #12. I am satisfied with the result I got from here's SMO service. Our social profile has a massive number of followers, and we also get good engagement.  
        div#owner-name.owner-name
            h1 Amarjeet Das
    Section.t-section
        div.display
            p #13. Mr. Mohit is an amazing person; he instantly understood the problem of our website was facing. And suggested the exact solution that we needed. Based on my personal experience, I would say the professionals are highly experienced and talented.  
        div#owner-name.owner-name
            h1 Vasant Kulkarni
    Section.t-section
        div.display
            p #14. Ekwik Digital is the best digital marketing agency that charges a very accessible fee. You get all-in-one digital marketing services under budget. Even a startup or local company can avail of its services.  
        div#owner-name.owner-name
            h1 Gulshan Tamboli
    Section.t-section
        div.display
            p #15. As a startup company, we suffered a lot to get the #1 ranking in Google. Hence, we needed a complete digital marketing solution at an affordable rate. Our team tried at multiple places, but we found satisfactory service only at Ekwik. Till now, it has been a month, and we have seen a massive improvement in our web site's online presence.  
        div#owner-name.owner-name
            h1 Kamala Joshi
    Section.t-section
        div.display
            p #16. As a leading printing company, we have worked with many SEO professionals. We have even worked with digital marketing agencies. But we have never found expert marketers like Mr. Durgesh and Mr. Mohit. Both are amazing and provide excellent marketing solutions.  
        div#owner-name.owner-name
            h1 Sulabha Gadhavi
    Section.t-section
        div.display
            p #17. I work at Ekwik Digital as an SEO intern. Here the working environment is friendly and professional. We get paid on time and also enjoy working here.  
        div#owner-name.owner-name
            h1 Anuradha Anand
    Section.t-section
        div.display
            p #18. I am a social media marketer in Ekwik Digital and love to work here. It has been a year and I am still looking to work with Ekwik for many years.  
        div#owner-name.owner-name
            h1 Vihaan Patel
    Section.t-section
        div.display
            p #19. There is nothing better place to get digital marketing services than Ekwik Digital. It is the best agency I have ever found in Laxmi Nagar. 
        div#owner-name.owner-name
            h1 Gopal Choudhary
    Section.t-section
        div.display
            p #20. Marketers are very professional and polite, and they know how to deal with various projects.  
        div#owner-name.owner-name
            h1 Kanti Korrapati
    Section.t-section
        div.display
            p #21. You can trust the marketers and services you get from Ekwik. Because its team keeps complete transparency and also shares the progress report timely. 
        div#owner-name.owner-name
            h1 Harsha Devi
    Section.t-section
        div.display
            p #22. Thanks to Mr. Mohit, who handled our web development project. And we were delighted when we saw the first look at our website. It's fantastic and justifies our brand's idea and nature of business. 
        div#owner-name.owner-name
            h1 Vipin Gadhavi
    Section.t-section
        div.display
            p #23. If you need a reputation management service, you should get it from Ekwik. Because for the last couple of months, our brand was getting a bad review on Google listings. And when we reached Ekwik, we found these reviews were of our competitors. Currently, its marketing team is dealing with and fixing such a review. If your brand also faces such an issue, you should reach out here.  
        div#owner-name.owner-name
            h1 Anandi Korrapati
    Section.t-section
        div.display
            p #24. The digital marketing services are excellent and value for money for a startup. 
        div#owner-name.owner-name
            h1 Ravinder Chaudhri
    Section.t-section
        div.display
            p #25. It was a great deal to take the SEO service from Ekwik Digital. Thank you, its marketing team, for helping our brand.  
        div#owner-name.owner-name
            h1 Vinay Sharma
    Section.t-section
        div.display
            p #26. The services are customizable and flexible as well. We took its mixed SEO, SMO, and guest posting services.  
        div#owner-name.owner-name
            h1 Namrata Kulkarni
    Section.t-section
        div.display
            p #27. If you need an affordable and best digital marketing solution in Laxmi Nagar. I will recommend you to contact Ekwik Digital. 
        div#owner-name.owner-name
            h1 Hardeep Gupta
    Section.t-section
        div.display
            p #28. Thank you so much, Ekwik team, now our website has started ranking #1 on recommended keywords. It also drives a good number of quality leads for our business. 
        div#owner-name.owner-name
            h1 Shila Patil
    Section.t-section
        div.display
            p #29. It was the first time we chose a digital marketing service from the agency. And thankfully, we got a chance to get this excellent service from Mr. Mohit and his team. We are delighted with the current marketing result.  
        div#owner-name.owner-name
            h1 Kalyan Gupta
    Section.t-section
        div.display
            p #30. I'm an SEO executive of Ekwik Digital. I have been working for a few months. The work culture is excellent, and our founders are also impressive.  
        div#owner-name.owner-name
            h1 Sukhwinder Choudhary
    Section.t-section
        div.display
            p #31. Thank you so much guys, now our website has started getting traffic. Also, we got 50% of traffic from the US and Canada. 
        div#owner-name.owner-name
            h1 Ayaan Anand
    Section.t-section
        div.display
            p #32. We provide accounting services to our international clients. And we came to Ekwik to design our websites and make it more professional. They did an excellent job and offered affordable services. 
        div#owner-name.owner-name
            h1 Darshan Mhasalkar
    Section.t-section
        div.display
            p #33. If you are a startup and do not have much budget. You can contact Ekwik Digital because they use premium tools and are highly talented. 
        div#owner-name.owner-name
            h1 Nitin Chaudhri
    Section.t-section
        div.display
            p #34. I have found Ekwik Digital the best and affordable PPC agency in Laxmi Nagar. They used a PPC campaign to drive views and subscribers to my YouTube channel. I got fantastic work from here. You should come here for similar services.
        div#owner-name.owner-name
            h1 Durga Das
    Section.t-section
        div.display
            p #35. We do not have any idea about digital marketing and have a tiny budget. But still, Mr. Durgesh and his SEO team helped our startup firm. Thank you, team Ekwik for providing excellent marketing services.
        div#owner-name.owner-name
            h1 Prashant Gadhavi
    Section.t-section
        div.display
            p #36. It was a pleasant experience to work with Ekwik Digital. Here I got many things to learn and after completing my internship here. I have got hired by a leading company as a marketer. 
        div#owner-name.owner-name
            h1 Srinivas Choudhary
    Section.t-section
        div.display
            p #37. Ekwik Digital is the second name of the trust, transparency, and affordable digital marketing services.
        div#owner-name.owner-name
            h1 Ankita Misra
    Section.t-section
        div.display
            p #38. We are an MSME business and have found Ekwik the best digital marketing agency. As they developed and designed our website that works amazingly.
        div#owner-name.owner-name
            h1 Divya Kulkarni
    Section.t-section
        div.display
            p #39. I took mobile SEO service from Ekwik's marketing team. They talked to me politely and professionally contacted me. They are very professional and do what they say to clients. 
        div#owner-name.owner-name
            h1 Ajith Korrapati
    Section.t-section
        div.display
            p #40. If you wanted a trusted company to work with to get ideal solutions. You should contact Ekwik because here you get most of the marketing services. 
        div#owner-name.owner-name
            h1 Harsh Nagarkar
    Section.t-section
        div.display
            p #41. I will recommend you to go and take an SEO service from Ekwik. Because we also got the same service, we saw shocking results within two months. Now our website gets a high ranking on multiple keywords.
        div#owner-name.owner-name
            h1 Indra Chaudhari
    Section.t-section
        div.display
            p #42. Durgesh Sir is a very professional and expert marketer. He handled our brand's social media marketing project. And we are happy with his excellent and productive work.
        div#owner-name.owner-name
            h1 Kavitha Korrapati
    Section.t-section
        div.display
            p #43. I have excellent experience with Ekwik Digital. They have helped me grow my brand. I will surely come again to them if I need such service again.
        div#owner-name.owner-name
            h1 Nalini Mhasalkar
    Section.t-section
        div.display
            p #44. Our business website had a lot of technical errors and broken links too. Hence, we reached Mr. Mohit to get an ideal solution. Currently, their team is handling our project professionally. I am very impressed with how they handle our project and report on it. 
        div#owner-name.owner-name
            h1 Praveena Patil
    Section.t-section
        div.display
            p #45. I have worked for many digital marketing companies. But now I work for Ekwik Digital because of here’s work environment and excellent punctuality. You get lots of things to learn and projects to work on.
        div#owner-name.owner-name
            h1 Praveena Anand
    Section.t-section
        div.display
            p #46. Here you get professional and polite treatment when you come to discuss your project.
        div#owner-name.owner-name
            h1 Ashwin Joshi
    Section.t-section
        div.display
            p #47. I have found Ekwik Digital one of the most affordable web development service providers. They provide custom WordPress development services at a cheap rate. You should try its development service for sure. 
        div#owner-name.owner-name
            h1 Pranav Mishra
    Section.t-section
        div.display
            p #48. I recently joined Ekwik Digital as a marketing intern. The seniors are polite, and they are very supportive as well.
        div#owner-name.owner-name
            h1 Riya Ahmed
    Section.t-section
        div.display
            p #49. There is not any workplace politics; we all work together and have much fun. Remarkably, I work with excellent people who are already very talented.
        div#owner-name.owner-name
            h1 Anantha Rao
    Section.t-section
        div.display
            p #50. Ekwik Digital developed a WordPress website for our eCommerce business. And currently, they are handling our SEO and SMO tasks as well. We will highly recommend to you its professional service which is far accessible from other agencies. Also, here you get quality service over the quality. 
        div#owner-name.owner-name
            h1 Ajay Mishra
    section#margin