extends base.pug

block script 
    title Youtube Promotion Packages | Video Marketing Packages India
    <meta name="description" content="Ekwik digital offers you Youtube Promotion Packages which includes promotion, Traffic, Orm etc. We are doing it for all size of company.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/video-marketing-pack.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 VideoMarketing Packages 
            p Video marketing is one of the most powerful marketing techniques. It includes creating quality promotional videos and promoting on various channels. Video marketing can increase brands sales by up to 1.5 times. 
            p Thus, you should not underweight this marketing model. Because only YouTube generates billions of views on its platform. If you need to spread brand awareness to a targeted audience. Then YouTube marketing packages can be suitable.
            p Ekwik Digital is also providing video marketing packages. Hence, you need such marketing services; you can reach us. 

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 We provide SEO services that grow traffic and generate quality leads. 
            p What are video marketing packages?
            p Video marketing packages are essential services for brands. Using these packages, brands can ensure effective promotion through video content. Ekwik's YouTube promotion packages in India include everything you need. You need to shoot the video, and from keyword research to promotion, we do the next. Hence get video marketing packages from Ekwik and multiply potential leads by two times. 
            p Why is video marketing needed?
            p You might be wondering why you need video marketing services. This question can be genuine if you are already using search engine optimization. But like other brands, you must also know that video marketing is powerful.
            p According to Renderforest, video marketing can increase brand awareness up to 70%. And it can boost your website's traffic to 50% in a short time. Also, it can help businesses to generate over 50% more sales. 

   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Book your video marketing packages 
            p You have understood the need for video marketing services for your brand. 
            p But do you know where to get complete YouTube advertising packages? Ekwik Digital is the perfect choice for this.
            p Because over five years, we have been providing YouTube promotion packages in India.
            p From many years of experience, we can say if you get our services. 
            p Then you can multiply your leads and sales with a small investment.
            p So, get your free quote for Ekwik's video marketing packages.
            p Because people feel more engaged with video content. Whether you use SEO or not, utilizing YouTube marketing packages can be significant. 
 
        div#section-3-image.section-2-class2