extends base.pug

block script 
    title Best Web Development Company
    <meta name="description" content="Looking for the best web development company? Ekwik Digital provides ">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/web-development.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Web development 
            p Web developement is a process done by web developers which contains designing a website for the internet or intranet.
            p If you want to bring your business in the online market the first thing you need to do is to make a face for your 
            p business so the customers who are searching for a product that you have ready for them can find you with a digital
            p appearance and that's where your website comes in handy, but finding the best creator for your website is also a hard
            p task but don't dwell on it we are here to help you out with solving all your problems at Ekwik Digital. 
            p We have well-designed web development services packages for you. By choosing our web development company, you can get a responsive site for you. 
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Developing Web with Ekwik Digital  
            p To make your arrival outstanding on the digital market here is Ekwik Digital 
            p which takes the responsibility of developing your web business. Ekwik Digital
            p have years of experience and the trust of our satisfied customers which give 
            p Ekwik Digital an inspiration to give you the best in the industry result and
            p provide affordable web development services so anyone dreaming of doing business
            p online can make their dreams come true and get the best value for their product.
            p Web development services by Ekwik Digital also helps you to grow more and more
            p every day with web developing methods, techniques, and some tactics of Ekwik
            p Digital which will come in handy in your hard time when marketing digitally.   
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Web development services. 
            p Ekwik Digital have the finest web developers and they co-operate with you more than your 
            p fellow workers and stop you from doing things which can make a loss in your business, with
            p web development experience from all over the USA, CANADA, and THE MIDDLE EAST Ekwik Digital 
            p know what people's in the different parts of the world like regarding this we help you to 
            p creates the best content for your worthy customers. You can choose from a category of  
            p Web development services that suits your business without compromising any quality. 
        div#section-3-image.section-2-class