extends base.pug

block script   
    title Best Web Design Agency/Company
    <meta name="description" content="Looking for the best web design companies? Ekwik Digital provides Best web design. Our service is provided by a team of talented, experienced and professional web designers.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/website-designing.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 Website Designing  
            p Having the best website design of the website can bring more customer engagement and leads. When doing business online the first step you need to take is to make a platform where your  customer can find you easily and they can go through your catalog, stock and also make the 
            p purchase of their favorite product from your wares, that's why you need to make a website for your business. Website designing can also help you to take care of customer’s desire 
            p and benefits you with more conversion rates, but the most crucial part of web designing is to give your customers a great user experience. And because of it, the demand for the best 
            p web design agency is increasing. So the brands can get the best web design services at affordable prices as Ekwik provide. 
        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 enter the world of digital marketing With your website 
            p Now you know that when you start introducing your business to the audience in the online market, 
            p a website or webpage is the foremost requirement for your business's digital appearance. 
            p Creating a website or (website designing) demands an expert creative website designer 
            p who can turn your imagination into your primary face in the online market because your website
            p is the only medium by which you can attract traffic to your site so they can come to you and ask for their needs,
            p to do so you need to make the content better than other business websites out there and that's where
            p Ekwik Digital's website designing services come to lower your charge.
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Now it’s time to grow your business with Ekwik Digital
            p Website designing services provided by Ekwik Digital are done by trained professionals working with companies from all over the world. These professionals can provide you the finest web designing services remotely from anywhere while fulfilling your business's digital demands and in the end, giving you the most appreciable results, but relax these best web design services won't cost much because Ekwik Digital provide all kind of digital marketing services while keeping all types of small and big businesses in mind so anyone can afford them. With Ekwik Digital's web design services, you can get a personalized website for business at a very time which be a profitable contribution from us to your business online growth.
        div#section-3-image.section-2-class