extends base.pug

block script 
    title WordPress Development Services/Agency
    <meta name="description" content="Ekwik digital is pioneer in WordPress Development, we have a number of successful development which created by our team.">
    script(src="/static/jquery/jquery-3.6.0.min.js") 
    script(src="/static/jquery/main.js") 
    script(src="/static/js/main.js") 
    <script src="https://kit.fontawesome.com/3c86032974.js" crossorigin="anonymous"></script>

block style 
    style 
        include ../static/css/headerfooter.css
        include ../static/css/content-layout.css
        include ../static/css/seo-service.css
        include ../static/css/homephone.css
        include ../static/css/wordpress-development.css

block content 
    div#layout-section-1
        div#section-1-content.section-1-class
            h2 WordPress Development
            p Ekwik Digital is the top-rated WordPress development agency. We have completed hundreds of WordPress development projects. WordPress is one of the most used CRM software with a market share of 33%. 
            p It is one of the robust and simple CRM for SMEs. And by using it, you can get a good website for business. Also, handling a WordPress website is accessible in the long or short term.
            p Moreover, you will also get several plugins to help in SEO. Thus, if you are also planning to build a website for your business. Then get Ekwik’s secure and affordable WordPress development services.
            p Because when you give us this crucial chance to build a website. Then our dedicated team starts working and delivering what we promised. 

        div#section-1-image.section-1-class     


    div#layout-section-2.layout-section--class
        div#section-2-image.section-2-class
        div#section-2-content.section-2-content-class
            h2 Need high quality, attractive and fast loading WordPress site  
            p WordPress is unbeatable whether you wish to start a blogging career or build a business site.
            p WordPress is popular because it has thousands of free and paid plugins. That you can use to make your site SEO friendly. 
            p But also if you get our WordPress web development services.
            p Then you receive a high-quality, appealing, and fast website. 
            p That will help you a lot when it will give a good user experience.
            p From small to large companies, we have solutions for everyone. 
            p Hence, reach us to get budget-friendly WordPress development services.
            p We will assure you; you get your dream website as you imagined. 
            p Because of multi-years of experience, we can say we are the best WordPress development agency.
            p And when you contact us, we do not only offer cost-effective services. But we also do provide high-quality and professional-looking sites. 
 
   
    div#layout-section-3.layout-section--class
        div#section-3-content.section-2-content-class
            h2 Want free quote  
            p So, do you want to see a free quote for your requirements?
            p You should go for it because it will not cost you.
            p when you give us this crucial chance to build a website.
            p Then our dedicated team starts working and delivering what we promised. 
        div#section-3-image.section-2-class