@media screen and (max-width: 1300px) {
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


    * {
        margin: 0;
        padding: 0;
        font-family: 'Nunito', sans-serif;
    }
        
    
    /* Navbar section */
    #contact-nav {
     display: none;
    }
    #phonenav{
        display: flex;
    }
    #logo {
        display: block;
    }
    #phone-menu {
        display: block;
    }
    #divider {
        display: block;
    }
    
    #hamburgur {
        display: inline-block;
        z-index: 100;
        
    }
    #menu-section {
        display: none;
    }
    #service-menu {
        display: none;
    }


}