#digital-marketing-image {
    background: no-repeat bottom center/cover url(../static/image/4902139.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/41651.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/7064.jpg);
}
#section-3-image {
    background: no-repeat bottom center/cover url(../static/image/3144043.jpg);
}