#digital-marketing-image {
    background: no-repeat bottom center/cover url(../static/image/125165.jpg);
}

#section-1-image {
    background: no-repeat center center/cover url(../static/image/41651.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/7064.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/sub-content2.jpg);
}
