@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: white;
}
#mobile_icon{
    display: none;
}
#portfolio-list {
    height: 220px;
    width: 150px;
    background: black;
    position: absolute;
    left: 70%;
    top: 15%;
    z-index: 1000;
    border-radius: 15px;
    visibility: hidden;
}
#free-website-audit {
    margin-top: 10px;
    height: 40px;
    width: max-content;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    background: none;
    border: 1.9px solid rgb(0, 0, 0);
    background: rgba(241, 199, 100, 0);
    transition: all 0.5s ease;
}
#free-website-audit:hover {
    background: rgb(255,151,11);

}
#free-website-audit a {
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
#contact-nav ul li .contact-nav-color {
    font-weight: 700;
}
#contact-nav ul li  {
    font-weight: 700;
}
#contact-nav ul li a  {
    text-decoration: none;
    color: black;
}
#contact-nav > #social{
    margin-left: 0px;
}
#social .fa-facebook-square {  
    color: rgb(60, 106, 255);
    margin-left: 100px;  
}
#social .fa-whatsapp-square {
    color: rgb(16, 161, 91);    
}
#social .fa-youtube {
    color: rgb(255,1,1);    
}
#social .fa-linkedin {
    color: rgb(60, 106, 255);
}
#social .fa-instagram-square {
    color: rgb(255, 122, 60);
}
.social{
    position: absolute;
    left: 60%;
    top: 1%;
}
#social .fab{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(207,236,224);
    margin-right: 10px;
    height: 26px;
    width: 40px;
    font-size: 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.service-menu-class:hover .fab {
    color: rgb(238, 29, 29);
}
#social a {
    text-decoration: none;
}
#social .fab:hover {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#contact-nav {
    background-color: rgb(255,151,11);
    color: rgb(0, 0, 0);
}
#contact-nav ul {
    display: flex;
    align-items: left;
    list-style: none;

}
#contact-nav ul li {
    margin-left: 50px;
    margin-right: -50px;
    padding: 10px;
}
.contact-nav-color {
    color: rgb(0, 0, 0);
}
#menu-section {
    display: flex;
    justify-content: space-evenly;
}
.inside-menu-section  {
    width: 210px;
    height: 70px;
    margin-left: 50px;
    margin-top: 7px;
}
#main-menu.inside-menu-section {
    width: 800px;
    height: 80px;
    margin-left: 110px;
    padding-left: 200px;
    
}
#main-menu.inside-menu-section ul {
    display: flex;
    padding: 15px;
    margin-left: 100px;
    

}
#main-menu.inside-menu-section ul li {
    list-style: none;
    margin: 15px;
    transition: all 0.2s ease;
}
#main-menu.inside-menu-section ul li:hover {
    transform: scale(1.2);
    background: black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;

}
#main-menu.inside-menu-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#main-menu.inside-menu-section ul li a:hover {
    color: rgb(255,151,11);
}
#service-menu {
    display: flex;
    justify-content: space-evenly;
    color: black;
    background-color: rgb(255,151,11);
    height: 50px;
    cursor: pointer;
    z-index: 100;
    position: sticky;
    top: 0;
}
.service-menu-class {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.service-menu-sub-menu {
    background-color: rgb(8, 7, 7);
    color: white;
    border-radius: 10px;
   
}
.service-menu-sub-menu ul li {
    margin: 10px;
    padding: 10px;
    list-style: none;
    transition: all 0.3s ease;
}
.service-menu-sub-menu ul li a {
    text-decoration: none;
    color: white;
   
}
.service-menu-sub-menu ul li:hover a {
    color: black;
    font-weight: bold;
    
    
}
.service-menu-sub-menu ul li:hover {
    background-color: rgb(255,151,11);
    border-radius: 10px;
    transform: scale(1.09);
   
}

#Search-engine-optimization-Sub-menu {
    position: absolute;
    left: 100px;
    top: 50px;
    visibility: hidden;
}
#Search-engine-optimization:hover #Search-engine-optimization-Sub-menu{
    visibility: visible;    
}

#Packages-main-Sub-menu {
    display: flex;
    position: absolute;
    left: 220px;
    top: 50px;
    visibility: hidden;
}
#Packages:hover #Packages-main-Sub-menu {
    visibility: visible;
}
#Reseller-Sub-menu {
    display: flex;
    position: absolute;
    left: 420px;
    top: 50px;
    visibility: hidden;
}
#Reseller:hover #Reseller-Sub-menu {
    visibility: visible;
}
#Reputation-Management-Sub-menu {
    display: flex;
    position: absolute;
    left: 550px;
    top: 50px;
    visibility: hidden;
}
#Reputation-Management:hover #Reputation-Management-Sub-menu {
    visibility: visible;
}
#Development-main-Solutions {
    display: flex;
    position: absolute;
    left: 620px;
    top: 50px;
    visibility: hidden;
}
#Development-Solutions:hover #Development-main-Solutions {
    visibility: visible;
}
#Social-Media-Sub-menu {
    display: flex;
    position: absolute;
    left: 70%;
    top: 20%;
    visibility: hidden;
}
#Social-Media:hover #Social-Media-Sub-menu {
    visibility: visible;
}
#Others-main {
    display: flex;
    position: absolute;
    left: 1000px;
    top: 50px;
    visibility: hidden;
}
#Others:hover #Others-main {
    visibility: visible;
}

#Contact-image {
    height: 560px;
    background: no-repeat center center/cover url(../static/image/contact-image01.jpg);
}

#section-contact {
    display: flex;
    width: 80%;
    margin:auto ;

}
#contact-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 20px;
    padding: 50px;
    /* border: 2px solid red; */
    margin-left:0px ;
    box-shadow: 5px 5px 12px black;
    transition: transform 0.5 ease;
}
#contact-form:hover {
    transform: scale(1.02);
}
#contact-form p {
    margin: 10px 0px 10px 0px;
}
#contact-info {
    margin: 20px;
    padding: 50px;
    /* border: 2px solid red; */
    margin-right: 0px;
}
#contact-form input {
    border: 2px solid rgb(0, 0, 0);
    background: black;
    color: white;
    outline: none;
    border-bottom:2px solid white ;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 250px;
    transition: all 0.7s ease;

}

#contact-form input:hover {
    border-bottom:2px solid rgb(255, 131, 49) ;
    width: 100%;
}

.sub-section-contact {
    height: 550px;
    width: 100%;
}
#form-text-area {
    border: 2px solid rgb(0, 0, 0);
    background: black;
    color: white;
    outline: none;
    border-bottom:2px solid white ;
    width: 250px;
    transition: all 0.7s ease;
}
#form-text-area:hover {
    border-bottom:2px solid rgb(255, 131, 49) ;
    width: 100%;
}
#form-btn {
    height: 50px;
    width: 150px;
    margin: 25px;
    margin-left: 0px;
    color: black;
    border: 2px solid black;
    background-color: rgba(255, 130, 57, 0.863);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}
#form-btn:hover {
    transform: scale(1.1);
}
#contact-info {
    padding: 50px;
    background-color: white;
    box-shadow: 5px 5px 12px black;

}
#contact-info h1 {
    margin: 20px;
    text-decoration:wavy;
    color: rgb(255,114,94);
    font-weight: bold;
}
#contact-info p {
    margin: 20px;
    /* color: rgb(79,174,134); */
}
#googlemap  {
    width: 78%;
    margin: auto;
    border-radius: 20px;
    height: 500px;
    margin-top: 50px;
    /* background: no-repeat center center/cover url(../static/image/contact-image.jpg) ; */
    box-shadow: 1px 1px 5px black;
}

#goole-map {
    width: 100%;
}
.sticky-call-section{
    height:40px;
    z-index: 1000;
    background: rgb(255,151,11);
    position: sticky;
    bottom: 0;
    width: 100%;
}
.sticky-call-section ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.sticky-call-section ul li {
    list-style: none;
    padding: 10px;
    font-weight: bold;
}
.sticky-call-section ul li a{
    text-decoration: none;
    color: black;
}
.sticky-call-section ul li:hover {
    background-color: rgb(255,151,11);
}

.phone {
    height:100px;
    display: none;
}
.phone ul li {
    font-size: 22px;
    padding: 20px;
}



#footer-menu {
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    height: 350px;
    width: 93.5%;
    /* border: 2px solid red; */
}
.footer-menu-class {
    /* border: 2px solid red; */
    height: 300px;
    width: 500px;
    /* padding: 20px; */

}
.footer-menu-class ul li {
    list-style: none;
    margin: 10px;
    transition: all 0.3s ease;
}

.footer-menu-class ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;

}
.footer-menu-class ul li:hover {
    transform: scale(1.1);
}
.footer-menu-class ul li:hover a {
    color: rgb(255,151,11);

}
.sub-footer-class h2 {
    margin: 10px;
    color: rgb(255,151,11);
    font-size: 25px;
    
}
.footer-menu-class h2 {
    font-size: 25px;
    margin: 10px;
    color: rgb(255,151,11);
    
    
}
.sub-footer-class p {
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
}
.footer-menu-class p {
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#footer-navbar {
    width: 300px;
}

#google-map {
    width: 1180px;
}


#footer-ekwik .fab {
    font-size: 30px;
    margin: 10px;
    transition: all 0.3s ease;
    color: white;
}
#footer-ekwik .fab:hover {
    transform: scale(1.2);
}

#footer-navbar {
    width: 300px;
}


.copyright {
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.76);
    justify-content: space-around;
    color: white;
    width: 100%;
}
#poweredby {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#poweredby p {
    margin-right: 5px;
}
#eklogo {
    background: no-repeat center center/cover url(../static/image/logo.png);
    height: 50px;
    width: 150px;
}

#developer {
    display: flex;
    justify-content: space-around;
}
#developer p {
    margin-right: 10px;
}
#developer span {
    color: rgb(255,151,11);
}




























#phonenav {
    background-color: white;
    height: 200px;
    display: none;
}
#btn-contact {
display: none;
}

.logo1 {
    margin: 10px;
   height: 150px;
   padding: 0px;
   width: 400px;
}
#phone-menu {
    position:absolute;
    top: 300px;
    left: 0%;
    width: 100%;
    height: 5800px;
    z-index: 2;
    padding-top: 100px;
    background: rgba(255, 255, 255);
    border-top: 2px solid black;
    display: none;
}
#phone-menu.is-active {
    left:0%;
    visibility: hidden;
}


 #phone-menu ul {
     margin: auto; 
      padding: 10px;
     position: relative;
     justify-content: center;
     text-align:justify;
     align-items: center;
     margin-bottom: 0px;
     padding-bottom: 0px;
     
    }
    #phone-menu ul li {
        list-style: none;
        position: relative;
        margin: 10px;
        top: -110px;
        /* left: 50px; */
        padding: 12px 16px;
        margin-bottom: 0px;
     padding-bottom: 0px;
    }
    #phone-menu ul li a {
        margin-left: 25px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 45px;   
        font-weight: bold;
    }

 #phone-menu #services {
    margin-left: 35px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
 }
 #divider {
    width: 80%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 35px;
    display: none;
   }
    #hamburger {
        position: absolute;
        left: 850px;
        top: 50px;
        display: block;
        width: 90px;
        height: 100px;
        cursor: pointer;
    
        appearance: none; 
        background: none;
        border: none;
        outline: none;
        z-index: 5;
    }
    #hamburger .bar {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color: rgb(0, 0, 0);
        margin: 8px 0px;
        transition: all 0.45s ease;
        border-radius: 10px;
    }
    #hamburger #bar2 {
        width: 60%;
        margin-left: 40%;
    }
    
#hamburger.is-active #bar1{
    transform: rotate(-45deg) translate(-8px , 6px);

}
#hamburger.is-active #bar2{
display: none;
}
#hamburger.is-active #bar3{
    transform: rotate(45deg) translate(-8px , -4px);

}

#btn-service {
    position: absolute;
    top: 350px;
    left: 20px;
   height: 80px;
   width: 300px;
   margin-left: 10px;
  color: rgb(0, 0, 0);
  background: transparent;
  font-size: 50px;
  outline: none;
  border: none;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow:2px 2px 5px black;
}

.phone-service-class {
    display: flex;
    flex-direction: column;
    display: none;
    margin-bottom: 10px;
}

.phone-service-class h2 {
    margin: 20px;
    margin-left: 65px;
    color:black;
    font-size: 50px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 2px 2px 5px black;

}
.sub-footer-class p a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.phone--service  {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    display: none;
    margin-bottom: -50px;
}
.phone--service ul li {
    text-align: center;
    background-color: rgba(255, 166, 0, 0.877);
    border-radius: 10px;
    border: 1px solid black;
}
.copyright {
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.76);
    justify-content: space-around;
    color: white;

}
#width {
    background-color:transparent;
    width: 100%;
}
#poweredby {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#poweredby p {
    margin-right: 5px;
}
#eklogo {
    background: no-repeat center center/cover url(../static/image/logo.png);
    height: 50px;
    width: 150px;
}
#a-logo {
    background: no-repeat center center/contain url(../static/image/a-logo.png);
    height: 50px;
    width: 100px;
    margin-top: -20px;
    
}
#footer-service  .fab {
    font-size: 30px;
    margin: 5px;
    color: white;
    transition: all 0.3s ease;
    visibility: hidden;
}
#footer-service .fab:hover {
    transform: scale(1.2);
}
#footer-navbar {
    width: 300px;
}
