#digital-marketing-image {
    background: no-repeat bottom center/cover url(../static/image/5496844.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/20943947.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/Statistics.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/5189494.jpg);
}

