#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/3759159.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/4882464.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/4884785.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/151.jpg);
}