
#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/E-COMMERCE-SEO.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/bestservice.jpg);
}
#section-2-image {
    background: no-repeat bottom center/cover url(../static/image/3255317.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/18980.jpg);
}