

#digital-marketing-image {
    background: no-repeat TOP center/cover url(../static/image/5396346.jpg);
}

#section-1-image {
    background: no-repeat center center/cover url(../static/image/3144043.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/565685.jpg);
}
#section-3-image {
    background: no-repeat top center/cover url(../static/image/hireus.jpg);
}
