@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}



body {
    background-color: rgb(207,236,224);
    
}
#social .fab{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(207,236,224);
    margin-right: 20px;
    height: 26px;
    width: 40px;
    font-size: 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.service-menu-class:hover .fab {
    color: rgb(238, 29, 29);
}
#social .fab:hover {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}


#contact-nav {
    background-color: rgb(241, 199, 100);
    color: rgb(0, 0, 0);
}
#contact-nav ul {
    display: flex;
    align-items: left;
    list-style: none;

}
#contact-nav ul li {
    margin-left: 50px;
    nav-right: 50px;
    padding: 10px;
}
.contact-nav-color {
    color: rgb(0, 0, 0);
}

#phonenav {
    background:rgb(207,236,224);
    /* background-color: white; */
    height: 200px;
    display: none;
}

#logo {
    background: no-repeat center center/cover url(../static/image/ekwik-logo.png);
    position: relative;
    left: 20px;
    top: 30px;
    /* border: 2px solid red; */
    height: 130px;
    width: 400px;
    display: none;
}
#phone-menu {
    position:absolute;
    top: 200px;
    left: 0%;
    width: 100%;
    height: 5200px;
    z-index: 2;
    padding-top: 100px;
    /* background: linear-gradient(
    #eacda3 , #d6ae7b); */
    background: rgba(8, 8, 8, 0.897);
    border-top: 2px solid black;
    /* transition: all 0.5s ease; */
    display: none;
}
#phone-menu.is-active {
    /* transition: all 0.5s ease; */
    left:0%;
    /* display: none; */

    visibility: hidden;
}


 #phone-menu ul {
     margin: auto; 
      padding: 10px;
     position: relative;
     justify-content: center;
     text-align:justify;
     align-items: center;
     margin-bottom: 0px;
     padding-bottom: 0px;
     
    }
    #phone-menu ul li {
        list-style: none;
        position: relative;
        margin: 10px;
        top: -110px;
        /* left: 50px; */
        padding: 12px 16px;
        margin-bottom: 0px;
     padding-bottom: 0px;
    }
    #phone-menu ul li a {
     margin-left: 25px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-size: 45px;
     
 }
 
  #btn-service {
      position: absolute;
      top: 350px;
      left: 20px;
      /* border: 2px solid red; */
     height: 80px;
     width: 300px;
     margin-left: 10px;
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 50px;

    outline: none;
    border: none;
    border-radius: 20px;
    border-bottom: 10px solid rgb(207,236,224);
    
}

#hamburger {
    position: absolute;
    left: 850px;
    top: 50px;
    display: block;
    width: 90px;
    height: 100px;
    cursor: pointer;

    appearance: none; 
    background: none;
    border: none;
    outline: none;
    z-index: 5;
}
#hamburger .bar {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(0, 0, 0);
    margin: 8px 0px;
    transition: all 0.45s ease;
    border-radius: 10px;
}
#hamburger #bar2 {
    width: 60%;
    margin-left: 40%;
}
#hamburger.is-active #bar1{
    transform: rotate(-45deg) translate(-8px , 6px);

}
#hamburger.is-active #bar2{
display: none;
}
#hamburger.is-active #bar3{
    transform: rotate(45deg) translate(-8px , -4px);

}

 

#menu-section {
    display: flex;
    justify-content: space-evenly;
    
}
#image.inside-menu-section  {
    background: no-repeat center center/cover url(../static/image/ekwik-logo.png);
    /* border: 2px solid red; */
    width: 250px;
    height: 80px;
    margin-left: 50px;
}
#main-menu.inside-menu-section {
    width: 800px;
    height: 80px;
    margin-left: 300px;
    padding-left: 200px;
    
}
#main-menu.inside-menu-section ul {
    display: flex;
    padding: 15px;
    margin-left: 100px;
    

}
#main-menu.inside-menu-section ul li {
    list-style: none;
    margin: 15px;
    transition: all 0.2s ease;
}
#main-menu.inside-menu-section ul li:hover {
    transform: scale(1.2);
    background: black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;

}
#main-menu.inside-menu-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#main-menu.inside-menu-section ul li a:hover {
    color: rgb(241, 199, 100);
}
#service-menu {
    display: flex;
    justify-content: space-evenly;
    color: black;
    background-color: rgb(241, 199, 100);
    height: 50px;
    cursor: pointer;
}
.service-menu-class {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.service-menu-sub-menu {
    background-color: rgb(8, 7, 7);
    color: white;
    border-radius: 10px;
   
}

.service-menu-sub-menu ul li {
    margin: 10px;
    padding: 10px;
    list-style: none;
    transition: all 0.3s ease;
}
.service-menu-sub-menu ul li a {
    text-decoration: none;
    color: white;
   
}
.service-menu-sub-menu ul li:hover a {
    color: black;
    font-weight: bold;
    
    
}
.service-menu-sub-menu ul li:hover {
    background-color: rgb(241, 199, 100);
    border-radius: 10px;
    transform: scale(1.09);
   
}
#Search-engine-optimization-Sub-menu {
    position: absolute;
    left: 100px;
    top: 160px;
    visibility: hidden;
}
#Search-engine-optimization:hover #Search-engine-optimization-Sub-menu{
    visibility: visible;    
}

#Packages-main-Sub-menu {
    display: flex;
    position: absolute;
    left: 320px;
    top: 160px;
    visibility: hidden;
}
#Packages:hover #Packages-main-Sub-menu {
    visibility: visible;
}
#Reseller-Sub-menu {
    display: flex;
    position: absolute;
    left: 520px;
    top: 160px;
    visibility: hidden;
}
#Reseller:hover #Reseller-Sub-menu {
    visibility: visible;
}
#Reputation-Management-Sub-menu {
    display: flex;
    position: absolute;
    left: 720px;
    top: 160px;
    visibility: hidden;
}
#Reputation-Management:hover #Reputation-Management-Sub-menu {
    visibility: visible;
}
#Development-main-Solutions {
    display: flex;
    position: absolute;
    left: 820px;
    top: 160px;
    visibility: hidden;
}
#Development-Solutions:hover #Development-main-Solutions {
    visibility: visible;
}
#Social-Media-Sub-menu {
    display: flex;
    position: absolute;
    left: 1120px;
    top: 160px;
    visibility: hidden;
}
#Social-Media:hover #Social-Media-Sub-menu {
    visibility: visible;
}
#Others-main {
    display: flex;
    position: absolute;
    left: 1120px;
    top: 160px;
    visibility: hidden;
}
#Others:hover #Others-main {
    visibility: visible;
}































#footer-menu {
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    height: 350px;
     /* border: 2px solid red; */
}
.footer-menu-class {
    /* border: 2px solid red; */
    height: 300px;
    width: 500px;
    /* padding: 20px; */

}
.footer-menu-class ul li {
    list-style: none;
    margin: 10px;
    transition: all 0.3s ease;
}

.footer-menu-class ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;

}
.footer-menu-class ul li:hover {
    transform: scale(1.1);
}
.footer-menu-class ul li:hover a {
    color: rgb(255, 159, 50);

}
.sub-footer-class h2 {
    margin: 10px;
    color: rgb(255, 159, 50);
    font-size: 25px;
    
}
.footer-menu-class h2 {
    font-size: 25px;
    margin: 10px;
    color: rgb(255, 159, 50);
    
    
}
.sub-footer-class p {
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
}
.footer-menu-class p {
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#footer-ekwik .fab {
    font-size: 30px;
    margin: 10px;
    color: white;
    transition: all 0.3s ease;
}

#footer-navbar {
    width: 300px;
}


.copyright {
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.76);
    justify-content: space-around;
    color: white;
}
#width {
    background-color:transparent;
    width: 80%;
    margin: auto;
    /* padding: 20px; */
}
#poweredby {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#poweredby p {
    margin-right: 5px;
}
#eklogo {
    background: no-repeat center center/cover url(../static/image/ekwik-logo.png);
    height: 50px;
    width: 150px;
}
#a-logo {
    background: no-repeat center center/contain url(../static/image/a-logo.png);
    height: 50px;
    width: 100px;
    margin-top: -20px;
    
}

#developer {
    display: flex;
    justify-content: space-around;
}
#developer p {
    margin-right: 10px;
}
#developer span {
    color: rgb(255, 159, 50);
}


.phone-service-class {
    display: flex;
    flex-direction: column;
    display: none;
    margin-bottom: 10px;
}
.phone-service-class h2 {
    /* background: rgb(207,236,224); */
    margin: 20px;
    margin-left: 65px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    border-radius: 20px;
    text-align: justify;
    border-bottom: 10px solid rgb(117, 236, 187);
}
.phone--service  {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    display: none;
    margin-bottom: -50px;
}

#footer-service  .fab {
    font-size: 30px;
    margin: 5px;
    color: white;
    transition: all 0.3s ease;
}
#footer-navbar {
    width: 300px;
}