
#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/5464026.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/87674.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/3528496.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/18980.jpg);
}
