#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/4428861.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/4420086.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/3528496.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/3255317.jpg);
}
