#digital-marketing-image {
    background: no-repeat top center/cover url(../static/image/MOBILE-SEO.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/1254365.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/14542163.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/1566455.jpg);
}
