#digital-marketing-image {
    background: no-repeat bottom center/cover url(../static/image/digital-marketing.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/4905784.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/20944441.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/4670240.jpg);
}
