#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/2687664.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/2094.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/20944036.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/20943943.jpg);
}
