#digital-marketing-image {
    background: no-repeat top center/cover url(../static/image/498651.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/2701007.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/21249.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/8748976.jpg);
}