#digital-marketing-image {
    background: no-repeat bottom center/cover url(../static/image/PPC.jpg);
}

#section-1-image {
    background: no-repeat center center/cover url(../static/image/ppc01.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/hireus.jpg);
}
#section-3-image {
    background: no-repeat top center/cover url(../static/image/5476534.jpg);
}
