

#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/seo-services.jpg);
}

#section-1-image {
    background: no-repeat center center/cover url(../static/image/55896.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/Statistics.jpg);
}
#section-3-image {
    background: no-repeat top center/cover url(../static/image/hireus.jpg);
}
