#digital-marketing-image {
    background: no-repeat bottom center/cover url(../static/image/5865.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/4670240.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/3528496.jpg);
}
#section-3-image {
    background: no-repeat top center/cover url(../static/image/20943943.jpg);
}