
#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/54874512.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/3759159.jpg);
}
#section-2-image {
    background: no-repeat bottom center/cover url(../static/image/43969.jpg);
}
#section-3-image {
    background: no-repeat center center/cover url(../static/image/4884785.jpg);
}