#digital-marketing-image {
    background: no-repeat center center/cover url(../static/image/4884785.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/19362653.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/18907.jpg);
}
#section-3-image {
    background: no-repeat top center/cover url(../static/image/4882464.jpg);
}