#digital-marketing-image {
    background: no-repeat bottom center/cover url(../static/image/32006.jpg);
}
#section-1-image {
    background: no-repeat center center/cover url(../static/image/21249.jpg);
}
#section-2-image {
    background: no-repeat center center/cover url(../static/image/10.jpg);
}
#section-3-image {
    background: no-repeat top center/cover url(../static/image/18907.jpg);
}